.nav-item .nav-link.active.dropdown-toggle {
    cursor: default;
}
.nav-link.dropdown-toggle {
    cursor: default;
}
html body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #dcdcdc !important;
}       
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1068px !important;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>.nav-link, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>a, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>span {
    padding: 9px 17px !important;
}

.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>.nav-link, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>a, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li>span {
    background-color: #ededed;
    font-size: 14px;
    font-weight: 600;
    --hover: #4238ff;
    transition: 0.7s;
    letter-spacing: 1px;
    color: #4238ff;
    border: 2px solid #4238ff;
    border-radius: 5px;
}

.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li:hover>.nav-link, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li:hover>a, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li:hover>span {
    text-decoration: none;
    box-shadow: inset 250px 0 0 0 var(--hover);
    border-color: var(--hover);
    color: #fff;
    background-color: #2C05F2 !important;
}
 

.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1 {
    border: 2px solid #4238ff;
    border-radius: 5px;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>.nav-link:hover, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>a:hover, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>span:hover {
    text-decoration: none;
    box-shadow: inset 250px 0 0 0 var(--hover);
    border-color: var(--hover);
    color: #fff;
    background-color: #2C05F2 !important;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>.nav-link, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>a, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown>.dropdown-menu.nav-level-1>li>span {
    color: #4238ff;
    font-size: 12px;
    font-weight: 600;
    --hover: #4238ff;
    transition: 0.7s;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>.nav-link, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>a, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>span {
    color: #4238ff;
    font-size: 12px;
    font-weight: 600;
    --hover: #4238ff;
    transition: 0.7s;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>.nav-link:hover, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>a:hover, .page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2>li>span:hover {
    text-decoration: none;
    box-shadow: inset 250px 0 0 0 var(--hover);
    border-color: var(--hover);
    color: #fff;
    background-color: #2C05F2 !important;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li.dropdown .dropdown-menu.nav-level-2 {
    border: 2px solid #4238ff;
    border-radius: 5px;
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation>ul[data-block=nav_main]>li:hover>.dropdown-menu:before {
    border-color: #2C05F2 transparent transparent transparent;
}
.node-article-content__info .field--name-field-titre p {
    margin-top: 15px;
}

.view-article-connexes .view-header a i {
    margin-right: 10px;
    font-size: 17px;
}
.view-article-connexes .view-header a {
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 9px 10px;
    font-size: 12px;
    color: #fff;
    /* line-height: normal; */
    font-weight: 400;
    background: #4238ff;
    float: left;
    margin-bottom: 14px;
    --hover: #4238ff;
    transition: 0.7s;
    /* border-left: 5px solid red; */
    width: 163px;
    border-radius: 5px;
    border: 2px solid #4238ff;

    margin-right: 20px !important;

}
@media (max-width: 991.98px) {
    .view-article-connexes .view-header a {
        margin-right: 20px;
    }
}

.view-article-connexes .view-header a:hover {
    border-color: var(--hover);
    color: #3f35ff;
    background-color: #ededed !important;
    box-shadow: inset 250px 0 0 0 #ededed;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #4238ff;
}
blockquote {
    border-left: 4px solid #e2e2e2;
    padding-left: 15px;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .h3, .page-node-type-page .node--type-page.node--view-mode-full .field--name-body h3 {
    font-size: 15px;
    text-transform: none;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .h4, .page-node-type-page .node--type-page.node--view-mode-full .field--name-body h4 {
    font-size: 15px;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body p {
    font-size: 13px;
}
a {
    color: #2c05f2;
    text-decoration: none;
}



article.node--type-article.node--view-mode-teaser .h2 a .field--name-field-titre p, article.node--type-article.node--view-mode-teaser h2 a .field--name-field-titre p{
    font-size: 11px;
    font-weight: 700;
}

article.node--type-article.node--view-mode-teaser .field--name-body p {
    font-size: 11px;
}
article.node--type-article.node--view-mode-teaser .field--name-field-date-de-publlication {
    font-size: 11px;
}
article.node--type-article.node--view-mode-teaser .h2, article.node--type-article.node--view-mode-teaser h2 {
    margin-bottom: 0px;
}
article.node--type-article.node--view-mode-teaser .field--name-body {
    margin-bottom: 0px;
}
.ui-widget-content .view-description-per-article .views-field-field-description {
    line-height: 25px;
}
.block-views-exposed-filter-blockarticle-list-page-1 {
    border-left: 0px;
}
.block-views-exposed-filter-blockarticle-list-page-1 form .form-item label:before {
    display: none;
}
.node-article-content__img .field--name-field-video-image .paragraph--type--image-video .field--name-field-image a:before {
    border: 2px solid #ff000024;
}
article.node--type-article.node--view-mode-teaser .iconepodcast, article.node--type-article.node--view-mode-teaser .iconevideo {
    border: 2px solid #ff000024;
}

article.node--type-article.node--view-mode-list .h2 a .field--name-field-titre p, article.node--type-article.node--view-mode-list h2 a .field--name-field-titre p {
    font-size: 11px;
    font-weight: 700;
}
article.node--type-article.node--view-mode-list .h2, article.node--type-article.node--view-mode-list h2 {
    min-height: auto;
    margin-bottom: 0px;
}
article.node--type-article.node--view-mode-list .field--name-field__sous-titre p {
    color: #000000;
    font-size: 11px;
    font-weight: 500;
    text-decoration: underline;
}
article.node--type-article.node--view-mode-list .field--name-body p {
    font-size: 11px;
    font-weight: 500;
}
article.node--type-article.node--view-mode-list .node--view-mode-list-user {
    margin-bottom: 0px;
    font-size: 11px;
    margin-top: 6px;
}
article.node--type-article.node--view-mode-teaser .h2 a:hover p, article.node--type-article.node--view-mode-teaser h2 a:hover p {
    color: #000000;
}
article.node--type-article.node--view-mode-list .h2 a:hover p, article.node--type-article.node--view-mode-list h2 a:hover p {
    color: #000000;
}
article.node--type-article.node--view-mode-list .node--view-mode-list-info {
    padding: 0 4px 4px;
}
article.node--type-article.node--view-mode-list .field--name-field-image-article, article.node--type-article.node--view-mode-list .not-img {
    border: 1px solid red;
}
.swiper-button-next, .swiper-button-prev {
    top: 58%;
}
.view-id-video_per_image {
    border: 5px solid #ffff;
}
.plyr--fullscreen-enabled video {
max-height: 100% !important
}
.iconepodcast{
    display: none !important;
}
input#edit-field-date-de-publlication-value {
    border: 1px solid red;
}
.lesLogos img {
    border: 2px solid #343434 !important;
}

.field--name-field-accordions .ui-accordion .ui-accordion-header.h3 a, .field--name-field-accordions .ui-accordion h3.ui-accordion-header a {
    font-size: 15px !important;
    color: #000;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}
.field--name-field-accordions .ui-accordion .ui-accordion-header.h3, .field--name-field-accordions .ui-accordion h3.ui-accordion-header {
    background-color: #eee;
    border-left: 4px solid red;
    margin-bottom: 6px !important;
}
.field--name-field-accordions .ui-accordion .ui-accordion-header.h3:hover, .field--name-field-accordions .ui-accordion h3.ui-accordion-header:hover{
    
    background-color: #fdf1f1;
    border-left: 4px solid red;
}
.ui-state-active{
    background-color: #eee !important;
    border: 1px solid #eee !important;
}
.field--name-field-accordions .ui-accordion .ui-accordion-content {
    border: 1px solid #cecdd2;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left div {
    padding-left: 0px;
    padding-top: 7px;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left p {
    padding-left: 0px !important;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left .h3, .page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left h3 {
    font-weight: 600 !important;
}
.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left div a {
    font-weight: 600 !important;
}

.page-node-type-page .node--type-page.node--view-mode-full .field--name-body .templaste-abstract .content-left div a {
    font-size: 15px !important;
}



article.node--type-article.node--view-mode-teaser h2 a .field--name-field-titre p {
    color: #2c05f2;
}

.custom-article-nos-dossiers-form h2 {
    font-family: Poppins,sans-serif;
    font-weight: 800;
    font-size: 19px;
}
.custom-article-nos-dossiers-form .custom-article-nos-dossiers-form {
    text-align: right;
}
.custom-article-nos-dossiers-form .form-submit {
    background-color: #170864;
    padding: 6px 20px;
    border-radius: 0px;
}
.ui-dialog .ui-dialog-titlebar-close {
    background: #1c0d67 !important;
    top: 37px !important;
    right: 23px !important;
    z-index: 99999 !important;
}
.block-views-exposed-filter-blockarticle-list-page-1 form .form-item .form-item--wrapper {
    padding: 0;
    background: #fff;
}

.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation > ul[data-block=nav_main] > li:first-child > .nav-link::before {
    content: "\f015";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: inline-block;
    color: #4238ff;
    font-size: 14px;
    /* width: 50px; */
    background: #ededed;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 10px;
    border: 2px solid #4238ff;
    border-radius: 22px;
    /* width: 35px; */
    /* height: 35px; */
    /* margin-right: 5px !important; */
}
.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation > ul[data-block=nav_main] > li:first-child > .nav-link {
    visibility: hidden;
    padding-left: 0px !important;
    padding-right: 0!important;
    width: 31px;
}

.page-header #navbarSupportedContent #block-alpha-omega-b5-main-navigation > ul[data-block=nav_main] > li:first-child > .nav-link::before {
    visibility: visible;
}
.field--name-field-accordions .ui-accordion .ui-state-active.h3, .field--name-field-accordions .ui-accordion h3.ui-state-active {
    background-color: #fdf1f1!important;
    border-left: 4px solid red!important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000!important;
}
.field--name-field-accordions .ui-accordion .ui-state-active.h3::after, .field--name-field-accordions .ui-accordion .ui-state-default.h3::after, .field--name-field-accordions .ui-accordion h3.ui-state-active::after, .field--name-field-accordions .ui-accordion h3.ui-state-default::after {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11L11.5 2L1 11' stroke='red' stroke-width='3' stroke-miterlimit='3.63238'/%3E%3C/svg%3E%0A")!important;
}

.descriptionactus{
    font-weight: 400;
    margin-bottom: 35px;
    line-height: 20px;
}

.block-views-exposed-filter-blockarticle-list-page-1 label {
    background: #3f35ff;
    padding-bottom: 9px;
    padding-left: 8px;
    font-size: 12px !important;
    border: 0px;
    margin-top: 10px;
    color: #fff !important;
    border-radius: 5px;
}
.block-views-exposed-filter-blockarticle-list-page-1 form .form-item select {
    background-color: #f8f8f8 !important;
    border-radius: 5px !important;
    border: solid 2px #3f35ff !important;
}
.block-views-exposed-filter-blockarticle-list-page-1 form .form-item input {
    border: 2px solid #3f35ff !important;
}
.block-views-exposed-filter-blockarticle-list-page-1 select#edit-field-actualites-target-id--2 {
    border: 1px solid #fd9b9b;
    border-radius: 2px;
    /* background: #ffffff; */
    padding-right: 0px;
    font-size: 12px;
    cursor: pointer;
}
.block-views-exposed-filter-blockarticle-list-page-1 select#edit-field-theme-target-id--2 {
    border: 1px solid #fd9b9b;
    border-radius: 2px;
    cursor: pointer;
}
.block-views-exposed-filter-blockarticle-list-page-1 input#edit-field-intervenants-target-id--2 {
    border: 1px solid #fd9b9b;
    border-radius: 2px;
    cursor: pointer;
}
.block-views-exposed-filter-blockarticle-list-page-1 input#edit-field-date-de-publlication-value--2 {
    border: 2px solid #3f35ff;
    border-radius: 5px;
    cursor: pointer;
}
.block-views-exposed-filter-blockarticle-list-page-1 input#edit-keys--3 {
    border: 1px solid #fd9b9b;
    border-radius: 2px;
    font-size: 12px;
}
.block-views-exposed-filter-blockarticle-list-page-1 input#edit-keys--2 {
    border: 1px solid #fd9b9b;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.block-views-exposed-filter-blockarticle-list-page-1 form .form-item.form-item-keys .form-item--wrapper:after {
    left: 7px !important;
    bottom: 0px !important;
}
.block-views-exposed-filter-blockarticle-list-page-1 a {
    background: #3f35ff;
    color: #fff;
    /* float: left; */
    width: 100%;
    padding-top: 8px;
    padding-bottom: 9px;
    width: 193px;
    /* float: left; */
    /* clear: unset; */
    padding-right: 57px;
    padding-left: 12px;
    /* border: 2px solid #3f35ff; */
    margin-top: -1px;
    display: block;
    font-size: 12px !important;
    border-radius: 5px;
}


.block-views-exposed-filter-blockarticle-list-page-1 i.fa-solid.fa-folder-tree,
.block-views-exposed-filter-blockarticle-list-page-1 i.fas.fa-tags,
.block-views-exposed-filter-blockarticle-list-page-1 i.fas.fa-address-book,
.block-views-exposed-filter-blockarticle-list-page-1 i.fas.fa-pencil-alt,
.block-views-exposed-filter-blockarticle-list-page-1 i.fas.fa-calendar-day
{
    font-size: 15px;
    margin-right: 5px;
}
@media (min-width: 992px) {
    .view-id-article_connexes .col-lg-3{
        max-width: 200px !important;
    }
    .view-id-article_connexes .col-lg-9 {
        width: 787px !important;
    }
}


.node--type-page.node--view-mode-full[data-history-node-id="46"],.node--type-page.node--view-mode-full[data-history-node-id="32"] {
    border-left: 0px; 
}
.field--name-field-accordions .ui-accordion .ui-accordion-content {
    margin-bottom: 7px;
}
.field--name-field-accordions .ui-accordion .ui-accordion-content p, .field--name-field-accordions .ui-accordion .ui-accordion-content .text-formatted ul li,.field--name-field-accordions .ui-accordion .ui-accordion-content a {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}
.block-custom-article.block-custom-description-article-block .terms {
    visibility: hidden;
    margin-bottom: 15px;
}
.block-custom-article.block-custom-description-article-block {
    text-align: center;
    width: 50%;
    margin: auto;
    display: none;
}

option {
    font-size: 12px;
    height: 20px;
    font-family: Poppins,sans-serif;
}

.site-slogan {
    margin-top: 5px;
}
.page-node-type-page .node--type-page.node--view-mode-full .title-node .field--name-field-titre-page .paragraph--type--titre-page .field--name-field-titre-page {
    font-weight: 600;
    font-size: 20px;
    padding-top: 4px;
}
.page-node-type-page .node--type-page.node--view-mode-full .title-node .field--name-field-titre-page .paragraph--type--titre-page .field--name-field-titre-page {
    letter-spacing: 1px !important;
}
i.fa-brands.fa-square-facebook {
    color: #4267B2;
}
i.fa-brands.fa-linkedin {
    color: #0e76a8;
}
i.fa-brands.fa-square-twitter {
    color: black;
}

a.mailto {
    font-weight: 600;
    float: right;
    background: #ffe8e8;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000 !important;
    border-left: 4px solid red;
    font-size: 11px !important;
    --hover: #ff3131;
    transition: 0.7s;
}
a.mailto:hover {
    border-color: var(--hover);
    color: #fff !important;
    background-color: #ff3131 !important;
    box-shadow: inset 250px 0 0 0 var(--hover);
    text-decoration: none;
}

button.btn.btn-secondary.nosDossiersLink1 {
    /* background: red; */
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 10px;
    font-size: 12px;
    color: #fff;
    /* line-height: normal; */
    font-weight: 400;
    background: #4238ff;
    float: left;
    margin-bottom: 14px;
    --hover: #4238ff;
    transition: 0.7s;
    /* border-left: 5px solid red; */
    width: 143px;
    height: 30px;
    border-top: 0px;
    border-bottom: 0;
    box-shadow: none;
    border-radius: 5px;
    text-align: left;
}

button.btn.btn-secondary.nosDossiersLink1:hover{
    border: none;
}
button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split {
    background: #4238ff;
    color: #fff;
    height: 30px;
    border: 0px;
    box-shadow: none;
    padding-top: 3px;
    display: -ms-flexbox;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background: #4238ff;
    float: left;
    margin-bottom: 14px;
    --hover: #4238ff;
    transition: 0.7s;
    width: 164px;
    border-radius: 5px;
    border: 2px solid #4238ff;
}

button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split:hover {
border-color: var(--hover);
    color: #3f35ff;
    background-color: #ededed !important;
    box-shadow: inset 250px 0 0 0 #ededed;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #4238ff;
}
  
a.dropdown-item.nosDossiersLink2 {
    margin: 1px;
    height: 29px;
    padding: 7px;
    background: #ffffff;
    color: #000;
}
.nosDossiers ul.dropdown-menu.show {
    background: white;
    border: none;
    padding: 0;
    margin: 0px;
}

.clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
    font-size: 11px;
}
.corporateSearchrow  .views-field.views-field-type {
    display: none;
}
form#views-exposed-form-search-page-1 {
    text-align: center;
    background: #eee;
    font-size: 13px;
    font-family: 'Poppins';
    padding-left: 15px;
    font-weight: 700;
}
#views-exposed-form-search-page-1 label {
    margin-right: 12px;
}
#views-exposed-form-search-page-1 input#edit-keys {
    border: 1px solid red;
    font-size: 12PX;
}
.path-search .views-field.views-field-type {
    DISPLAY: NONE;
}

.page-header .bg-custom-gray {
  padding: 7px  15px;
  --bs-bg-opacity: 1;
  background-color: #ededed !important;
}
@media (min-width: 768px) {
  .page-header .bg-custom-gray {
    padding: 7px  40px;
  }
}
.navbar-brand img {
    max-width: 440px;
}
.fa-brands, .fab {
    font-size: 25px !important;
}
.fa-facebook:before {
    content: "\f09a";
    border: 1px solid #adadad;
    border-radius: 17px;
    background: #adadad;
    color: #ededed;
    /* padding-top: 0px; */
} 
nav#block-alpha-omega-b5-main-navigation:before {
   content: "";
    position: absolute;
    top: 0;
    bottom: -7px;
    background: #fff;
    z-index: 0;
    left: -40px;
    right: -40px;

}
@media (max-width: 575.98px){
    nav#block-alpha-omega-b5-main-navigation:before {
        top: 0;
        bottom: -7px;
        z-index: 0;
        left: -15px;
        right: -15px;
    }
}
li.nav-item {
    z-index: 3;
}
.view-article-connexes {
    margin-top: 20px !important;
}

footer.page-footer .container {
    background-color: #ededed !important;
    max-width: 1044px !important;
    padding: 0;
    /* float: left; */
    margin: auto;
    display: flow-root;
}
div#block-alpha-omega-b5-adressefooter {
    float: left;
    height: 65px;
}
div#block-alpha-omega-b5-adressefooter p {
    line-height: 20px;
    margin-bottom: 0px;
    color: #4238ff;
    font-weight: 500;
}
div#block-alpha-omega-b5-adressefooter {
    float: left;
    height: 65px;
    padding-top: 13px;
    padding-left: 110px;
}
div#block-alpha-omega-b5-logoheader {
    float: left;
    padding-left: 15px;
    max-width: 152px;
}
nav#block-alpha-omega-b5-footer {
    float: right;
}
footer.page-footer ul[data-block=footer] a {
    font-size: 11px;
    font-family: Poppins,sans-serif;
    color: #4238ff;
    line-height: 1;
    padding-top: 28px;
    padding-right: 25px;
    font-weight: 500;
}
.navbar-brand.d-flex.align-items-center.mb-2 {
    background: #ededed !important;
    padding: 6px;
    text-align: center;
    /* float: left; */
    /* width: 100%; */
}

#drupal-modal span {
    font-family: 'Poppins', sans-serif !important;
    line-height: 25px !important;
}
section.zero-resultat {
    padding: 21px;
    color: red;
}

.path-search div#edit-actions {
    float: right;
    margin-top: -41px;
    font-size: 12px !important;
    margin-right: 10px;
}
.path-search input#edit-reset {
    float: rr;
    font-size: 12px;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
}
input#edit-field-date-de-publlication-value {
    width: 52px;
}
.paragraph--type--contact .content-contact {
    padding-left: 13px;
    background: #f2f2f2;
    border-radius: 5px;
}


.paragraph--type--contact img {
    float: left;
    height: auto;
    max-width: 482px;
    margin: 5px;
}
.paragraph--type--contact p,.paragraph--type--contact li {
    font-family: Poppins, sans-serif;
    /* font-size: .75rem; */
    /* color: #3c3c3c; */
    line-height: 1.5;
    font-weight: 400;
    color: #000;
    font-size: .8125rem;
}

#views-exposed-form-search-page-1 input#edit-keys {
    width: 115px;
}



.path-search #edit-reset::before {
  content: "X";
}

.field--name-field-don a {
    background: #4238ff;
    color: #fff;
    /* padding-left: 69px; */
    padding-top: 14px;
    padding-bottom: 14px;
    float: left;
    margin-top: 11px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    text-align: center;
    border: 2px solid #4238ff;
    --hover: #4238ff;
    transition: 0.7s;
}
.field--name-field-don a:hover {
    border-color: var(--hover);
    color: #3f35ff;
    background-color: #ededed !important;
    box-shadow: inset 250px 0 0 0 #ededed;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #4238ff;
}


.field.field--name-field-contactez-nous.field--type-webform.field--label-hidden.field__item {
    float: left;
    width: 100%;
}
label.intitFormulaire {
    text-align: center;
    background: gainsboro;
    padding-top: 14px;
    padding-bottom: 15px;
    /* float: left; */
    width: 100%;
    border-radius: 5px;
    margin-top: 11px;
}
.js input.form-autocomplete {
    background: none !important;
}
.attachment.attachment-after {
    padding-top: 30px;
    border-top: 2px solid #4238ff;
    margin-top: 24px;
    margin-bottom: 15px;
}
.attachment.attachment-after .field-image {
    height: 81px !important;
}
label.formou {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}


.page-node-type-page .node--type-page.node--view-mode-full {
    border-left: none !important;
    padding: 40px 12px !important;
}