{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
   {%
     set ul_classes = [
     menu_level == 0 ? 'navbar-nav justify-content-end flex-wrap',
     menu_level > 0 ? 'dropdown-menu',
     'nav-level-' ~ menu_level,
   ]
   %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass(ul_classes) }}>
  {% else %}
  <ul class="dropdown-menu nav-level-{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {%
        set list_item_classes = [
        'nav-item',
        item.is_expanded ? 'dropdown'
      ]
      %}
      {%
        set classes_link = [
        menu_level == 0 ? 'nav-link',
        item.in_active_trail ? 'active',
        menu_level == 0 and (item.is_expanded or item.is_collapsed) ? 'dropdown-toggle',
        menu_level > 0 ? 'dropdown-item',
      ]
      %}
      <li{{ item.attributes.addClass(list_item_classes) }}>
        {{ link(item.title, item.url, { 'class': classes_link }) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
