//
// Section Body
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}


html {
  font-size: 1rem;
	overflow-x: hidden;
  body {
    @include font-size(14px);
    line-height: 1.3;
    font-family: $CONST-FONT;
    background-color: $gray-calendar;
    @include scrollbars(7px, $blue-lighter, $blue-light);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: $black;

    .main-content{
      padding: 0px 15px;
      @include media-breakpoint-up(md){
        padding: 0px 40px;
      }
    }
  }
}

iframe{
  max-width: 100%;
  &.pdf{
    min-height: 500px;
    #outerContainer{
      .toolbar{
        display: none;
      }
    }
  }
}
.ui-button .ui-icon{
  background-image: url("#{$bi-img-path}/ui-icons.png") !important;
}
.ui-dialog{
  border: solid 1px transparent !important;
  background: transparent !important;
}
.ui-dialog .ui-dialog-titlebar{
  border-color: transparent !important;
  background: transparent !important;
}
.ui-widget-overlay{
  background: $black !important;
  opacity: 0.5 !important;
}
.ui-dialog .ui-dialog-title{
  display: none;
}
.ui-dialog-content{
  @include scrollbars(4px, $blue-lighter, $blue-light);
}
.ui-dialog .ui-dialog-content {
  background: $white;
}
.rtejustify{
  text-align: justify;
}
.ui-widget-content{
  .view-description-per-article{
    .views-field-field-description{
      img {
        height: auto;
        margin-right: 12px;
        margin-bottom: 12px;
        max-width: 100%;
        &.align-right {
          padding-left: 22px;
        }
        &.align-left {
          padding-right: 22px;
        }
      }
      h2 {
        &.title {
          font-family: 'Arial',sans-serif;
          font-size: 20px;
          color:#4339ff;
        }
      }
      p {
        font-family: 'Poppins';
        &.styling {
          font-family: 'Arial',sans-serif;
          font-size: 12px;
          &.subtitle {
            font-style: italic;
          }
          &.intro {
            font-style: italic;
            font-weight: bold;
          }
          &.intertitle {
            font-weight: bold;
          }
          &.firstletter {
            &::first-letter {
              font-weight: bold;
              font-size: 24px;
              text-transform: capitalize;
            }
          }
        }
      }
      a {
        text-decoration: underline; 
        font-family: 'Arial',sans-serif;
        font-size: 12px;
        color: $dark;
      }
    }
  }
}

.ajax-progress {
  //position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: none;
  background-color: transparent;
  position: absolute;
  img,
  div {
    display: none !important;
  }

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $red;
    border-color: $red transparent $red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
a{
  color: #337ab7;
  text-decoration: none;
  &:hover{
    color: #23527c;
    text-decoration: underline;
  }
}
// Content.
// --------------------------------------------------
main[role="main"] {
  /*flex: 1;*/
}

.js input.form-autocomplete{
  background-repeat: no-repeat !important;
}
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.toolbar-oriented .toolbar-bar{
  z-index: 99999 !important;
}


.block-system-breadcrumb-block{
  padding-top: 20px;
  text-align: left;
  nav[aria-label="breadcrumb"]{
    ol , ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        color: #585858;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 1px;
        position: relative;
        text-transform: initial;
        font-family: 'ralewayregular',sans-serif;
        > *{
          text-transform: uppercase;
          color: #585858;
          font-size: 12px;
          text-decoration: none;
        }

        + li{
          &:before{
            content: ">";
            position: absolute;
            top: 0;
            left: -5px;
            color: #585858;
          }
        }
      }
    }
  }
}

