footer.page-footer {
  background-color: #dcdcdc;

  ul[data-block='footer'] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-evenly;

      li {
        margin: 0 10px;
      }
    }

    a {
      @include font-size(12px);
      font-family: $CONST-FONT-Poppins;
      color: $black-medium;
      line-height: 1;
    }
  }

  .container {
    @include media-breakpoint-down(md) {
      float: none;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    div#block-alpha-omega-b5-logoheader {
      @include media-breakpoint-down(md) {
        margin-left: -27px;
        padding-left: 0;
      }
    }

    div#block-alpha-omega-b5-adressefooter {
      padding-top: 13px;
      padding-left: 0px;
    }
  }
}