.site {
  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none !important;
  }

  &-logo {
    @include font-size(37px);
    color: $black;
    font-weight: bold;
    line-height: 1;
    font-family: $CONST-FONT-Poppins;
  }

  &-slogan {
    @include font-size(16.4px);
    color: $red;
    line-height: 1;
    font-family: $CONST-FONT-Poppins;
    font-weight: bold;

    @include media-breakpoint-only(xs) {
      font-size: 11px !important;
    }
  }
}

.page-header {
  #navbarSupportedContent {
    padding-top: 0px;
    margin-top: 0px;

    //border-top: 1px solid $color-bleu;
    @include media-breakpoint-up(lg) {
      width: 100%;
    }

    #block-alpha-omega-b5-main-navigation {
      width: 100%;
      background: #fff;
      position: relative;
      padding-top: 8px;

      >ul[data-block='nav_main'] {
        z-index: 3;

        @include media-breakpoint-up(lg) {
          justify-content: space-between !important;
          align-items: center;
        }

        >li {

          >.nav-link,
          >span,
          >a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            @include font-size(16px);
            color: $white;
            line-height: 1;
            font-weight: bold;
            background-color: $color-bleu-02;

            @include media-breakpoint-up(xl) {
              padding: 10px 50px;
            }

            @include media-breakpoint-down(lg) {
              flex: 1;
              padding: 10px;
              justify-content: space-between;
            }

            &:after {
              content: none !important;
            }

            //&:after{
            //  content: "";
            //  width: 8px;
            //  height: 8px;
            //  background-color: $black;
            //  border-radius: 100%;
            //  margin-left: 10px;
            //  @include media-breakpoint-down(lg){
            //    border-radius: 0;
            //    width: 36px;
            //    height: 36px;
            //    opacity: 0;
            //  }
            //}
          }

          &:hover {

            >.nav-link,
            >span,
            >a {
              background-color: $red;
              text-decoration: none;

              &:after {
                background-color: $black;
              }
            }

            >.dropdown-menu {
              @include media-breakpoint-up(lg) {
                display: block;

                &:before {
                  content: "";
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 7px 5px 0 5px;
                  border-color: $color-bleu transparent transparent transparent;
                  position: absolute;
                  top: 0;
                  left: 10px;
                }
              }

              >li.nav-item {
                >a.dropdown-item {
                  background-color: transparent;
                  background-image: none;
                }
              }
            }
          }

          &.dropdown {

            >.nav-link,
            >span,
            >a {
              &:after {
                @include media-breakpoint-down(lg) {
                  opacity: 1 !important;
                }
              }
            }

            .dropdown-menu.nav-level-2 {
              @include media-breakpoint-up(lg) {
                padding: 10px 5px;
                border-radius: 0px;
                border: 1px solid $color-bleu;
                left: 108%;
                top: 0;
              }

              >li {

                >.nav-link,
                >span,
                >a {
                  @include font-size(14px);
                  color: $blue-lighter;
                  line-height: 1;
                  font-weight: 400;
                  padding: 6px 5px;

                  &:hover {
                    background-color: $color-bleu-01 !important;
                    color: $white;
                    text-decoration: none;
                  }
                }
              }
            }

            >.dropdown-menu.nav-level-1 {
              @include media-breakpoint-up(lg) {
                padding: 10px 5px;
                border-radius: 0;
                border: 1px solid #2c05f2;
                top: auto;
                min-width: 100%;
              }

              >li {
                &:hover {
                  &.dropdown {

                    >.nav-link,
                    >span,
                    >a {
                      position: relative;
                      padding-right: 10px;

                      &:before {
                        content: "";
                        position: absolute;
                        width: 110%;
                        height: 100%;
                        z-index: -1;

                        @include media-breakpoint-down(lg) {
                          display: none !important;
                        }
                      }

                      &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 7px 5px 0 5px;
                        border-color: $color-bleu transparent transparent transparent;
                        position: absolute;
                        right: -14px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        transform: rotate(-90deg);

                        @include media-breakpoint-down(lg) {
                          right: 8px;
                          transform: rotate(0deg);
                        }
                      }
                    }

                    &:hover {
                      .dropdown-menu.nav-level-2 {
                        @include media-breakpoint-up(lg) {
                          display: block;
                        }
                      }
                    }
                  }
                }

                >.nav-link,
                >span,
                >a {
                  @include font-size(14px);
                  color: $blue-lighter;
                  line-height: 1;
                  font-weight: 400;
                  padding: 6px 5px;

                  &:hover {
                    background-color: $color-bleu-01 !important;
                    color: $white;
                    text-decoration: none;

                    @include media-breakpoint-down(lg) {
                      background-color: transparent !important;
                      color: $blue-lighter;
                    }
                  }
                }
              }
            }

            .dropdown-menu {
              @include media-breakpoint-down(lg) {
                border: none;
                box-shadow: none;
                padding: 0 0 0 20px;
              }
            }
          }
        }
      }
    }

  }

  .bg-white {
    padding: 20px 15px;

    @include media-breakpoint-up(md) {
      padding: 20px 40px;
    }
  }

  &-top {
    @include media-breakpoint-down(lg) {
      width: 100% !important;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .navbar-toggler {
      background-color: $black;
      border-radius: 0;
      padding: 8px;
    }
  }

  &-bottom {
    @include media-breakpoint-down(lg) {
      width: 100% !important;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }

  .search-block-form {
    position: relative;
    min-width: 230px;
    margin-right: 30px;

    form {
      position: relative;
    }

    .form-item,
    .form-actions {
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-type-search {
      display: block;

      input[type="search"] {
        display: block;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        border: none;
        padding: 5px 10px 5px 40px;
        font-size: 13px;
      }
    }

    .form-actions {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      display: flex;
      align-items: center;
      justify-items: center;

      &:before {
        content: "\f002";
        font-family: $CONST-FONT-Awesome;
        font-size: 15px;
        font-weight: 900;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input {
        font-size: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        border-radius: 0;
        opacity: 0;
        padding: 0;
      }
    }
  }

  .language-switcher-language-url {
    ul[data-block="nav_additional"] {
      @include list-reset;
      padding: 0;
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(lg) {
        margin: 0 0 0 25px;
      }

      >li {
        display: flex;
        align-items: center;

        &.is-active {
          >a {
            color: $blue-lighter;
          }
        }

        >a {
          @include font-size(16.4px);
          color: $black;
          line-height: 1;
          font-family: $CONST-FONT-Poppins;
          font-weight: 300;

          &:hover {
            color: $blue-lighter;
            text-decoration: none;
          }
        }

        &+li {
          &:before {
            content: "|";
            display: inline-block;
            vertical-align: center;
            margin: 0 8px;
          }
        }
      }
    }
  }

  #block-alpha-omega-b5-logoheader-2,
  #block-alpha-omega-b5-logoheader {
    margin: 0 0 0 20px;

    img {
      max-width: 130px;
    }
  }
}

button.cta-header-lafondation {
  font-size: 14px;
  margin-top: 15px;
  border: 2px solid #4339ff;
  color: #4339ff;
  font-weight: 500;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  background: #ededed !important;
}

header {
  &.page-header {
    .block-system-branding-block {
      .navbar-brand {
        img {
          @include media-breakpoint-down(sm) {
            max-width: 100%;
          }

        }
      }
    }
   .menu--main {
     .navbar-nav {
       li {
         @include media-breakpoint-down(lg) { margin-bottom: 10px; }
       }
     }
   }
  }
}