.node-article-content {
  &__nav {

    &__next,
    &__prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      a.btn-flesh {
        background-image: url("#{$bi-img-path}/next.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        font-size: 0;
        width: 15px;
        height: 19px;
        display: block;
      }
    }

    &__next {
      right: 0;

      @include media-breakpoint-up(md) {
        right: -24px;
      }

    }

    &__prev {
      left: 0;
      transform: rotate(180deg);

      @include media-breakpoint-up(md) {
        left: -24px;
      }
    }
  }

  &__info {
    background-color: #ededed !important;
    padding: 15px;

    @include media-breakpoint-up(md) {
      padding: 15px 15px 10px 25px;
    }

    .field--name-field-titre,
    >h2 {
      position: relative;
      color: $black;
      @include font-size(16px);
      line-height: 1.3;
      font-weight: 500;
      padding-bottom: 7px;
      margin-bottom: 15px;
      //&:after{
      //  content: "";
      //  position: absolute;
      //  bottom: 0;
      //  left: 0;
      //  background-color: $black;
      //  width: 100px;
      //  height: 1px;
      //}
    }

    .field--name-field-titre {
      h2 {
        color: $black;
        @include font-size(15px);
        line-height: 1.3;
        font-weight: 500;
        margin-top: 10px;
      }

      p {
        margin-bottom: 0;
        color: $black;
        @include font-size(16px);
        line-height: 1.3;
        font-weight: 500;

        &+p {
          margin-top: 10px;
        }
      }
    }

    .popinsoustitre {
      margin-bottom: 20px;

      a {
        font-family: $CONST-FONT-DOUMBAR;
        color: #1D1D1B;
        @include font-size(40px);
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        font-family: $CONST-FONT-DOUMBAR;
        color: #1D1D1B;
        @include font-size(40px);
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .field--name-field__sous-titre {
      // color: #342aff;
      @include font-size(32px);
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 20px;

      p {
        font-family: $CONST-FONT-DOUMBAR;
        color: #1D1D1B;
        @include font-size(40px);
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    .field--name-body {
      margin-bottom: 25px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        max-width: 89%;
      }

      p {
        color: $black;
        @include font-size(13px);
        line-height: 1.3;
        font-weight: normal;
        margin-bottom: 0;

        &+p {
          margin-top: 1rem;
        }
      }
    }

    .field--name-field-byline.field--type-entity-reference-revisions {
      margin-top: auto;
    }

    .paragraph--type--byline {
      .field--name-field-nom-auteur {
        color: $black;
        @include font-size(16px);
        line-height: 1.3;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .field--name-field-description-auteur {
        p {
          color: $black;
          @include font-size(13px);
          line-height: 1.3;
          font-weight: 400;
          margin-bottom: 0;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;

          &+p {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  &__img {

    //min-height: 1000px;
    @include media-breakpoint-up(md) {
      min-height: 340px;
    }

    @include media-breakpoint-up(xl) {
      min-height: 380px;
    }

    .paragraph--type--image-video {
      @include media-breakpoint-down(sm) {
        min-height: 300px;
      }

    }

    //.items{
    //  &__3{
    //
    //  }
    //}
    .field--name-field-video-image {
      .paragraph--type--image-video {
        .field--name-field-image {
          overflow: hidden;

          .descpp {
            a {

              &:after,
              &:before {
                content: none !important;
              }
            }

          }

          a {

            &:after,
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;

            }

            &:before {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              background-color: $white;
              z-index: 1;
            }

            &:after {
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 6.5px 0 6.5px 13px;
              border-color: transparent transparent transparent $red;
              transform: rotate(0deg);
              z-index: 2;
              left: 5px;
            }

            &:hover {
              img {
                transform: scale(1.1);
              }
            }

          }
        }

        img {
          transition: $transition04;
          position: absolute;
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
          border: 1px solid $white;
        }
      }
    }
  }
}

.view-article {
  &-list {
    background-color: $gray-dark-2;
    padding: 15px;
    overflow-y: scroll;
    @include scrollbars(7px, $gray-dark-12, $gray-dark-2);
    //max-height: 560px;
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      height: 621px;
    }

    .view-header {
      display: block;
      margin-bottom: 10px;
      color: $red;
      @include font-size(13px);
      line-height: 1.3;
      font-weight: 600;
    }
  }

  &-connexes {
    padding-bottom: 20px;

    .view-header {
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        display: flex;
        flex-wrap: wrap;

      }


      a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        @include font-size(14px);
        color: $red;
        line-height: 1;
        font-weight: 500;


        &:after {
          content: "";
          width: 8px;
          height: 8px;
          background-color: $red;
          border-radius: 100%;
          margin-left: 10px;
        }
      }
    }

    .swiper-slide {
      height: auto;
    }

    .swiper-button-prev {
      left: 0;
      transform: rotate(180deg);

      @include media-breakpoint-up(md) {
        left: -24px;
      }
    }

    .swiper-button-next {
      right: 0;

      @include media-breakpoint-up(md) {
        right: -24px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: auto !important;
      width: auto !important;

      &:after {
        content: "\f105";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #4238ff;
        position: absolute;
        // background-image: url("#{$bi-img-path}/next-org.png");
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: center;
        font-size: 27px;
        width: 15px;
        height: 19px;
        display: block;
      }
    }

    .swiper-button-prev {
      &:after {
        top: 15px;
        left: -13px;
      }
    }

    .swiper-button-next {
      &:after {
        top: -45px;
        right: 0;
      }
    }
  }
}

body.path-article-list {
  .block-system.block-system-main-block {
    height: 100%;

    >.views-element-container {
      height: 100%;
    }
  }
}

article.node--type-article {
  &.node--view-mode-list {
    position: relative;
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;


    .node--view-mode-list-info {
      padding: 0px 15px 15px;
    }

    &:hover {

      .not-img,
      .field--name-field-image-article {
        img {
          transform: scale(1.2);
        }
      }
    }

    .not-img,
    .field--name-field-image-article {
      position: relative;
      width: 100%;
      height: 160px;
      margin-bottom: 7px;
      overflow: hidden;

      img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: $link-transition-off;
      }
    }

    .not-img {
      background-image: url("#{$bi-img-path}/404.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2 {
      margin-bottom: 7px;
      min-height: 32px;

      a {
        @include link-full-item-list;

        .field--name-field-titre {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;

          p {
            font-family: $CONST-FONT;
            color: $black;
            @include font-size(13px);
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 0;
          }
        }

        &:hover {
          color: $color-bleu-01;

          p {
            color: $color-bleu-01;
          }
        }
      }
    }

    .field--name-field__sous-titre {
      margin-bottom: 7px;
      min-height: 32px;

      p {
        color: $red;
        @include font-size(12px);
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;

        &+p {
          margin-top: 5px;
        }
      }
    }

    .node--view-mode-list-user {
      margin-bottom: 7px;
      display: flex;
      align-items: center;
      color: $black;
      @include font-size(12px);
      font-weight: 600;

      i {
        margin-right: 10px;
      }
    }

    .field--name-body {
      p {
        @include font-size(12px);
        font-weight: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;

        &+p {
          margin-top: 1rem;
        }
      }
    }
  }

  &.node--view-mode-teaser {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .iconepodcast,
    .iconevideo {
      position: absolute;
      left: 10px;
      top: 10px;
      color: $red;
      background: $white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-size(15px);
      line-height: 1;
      //opacity: 0.8;
    }

    &:hover {

      .not-img,
      .field--name-field-image-article {
        img {
          transform: scale(1.2);
        }
      }
    }

    .not-img,
    .field--name-field-image-article {
      position: relative;
      width: 100%;
      height: 130px;
      margin-bottom: 10px;
      overflow: hidden;

      img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: $link-transition-off;
      }
    }

    .not-img {
      background-image: url("#{$bi-img-path}/404.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2 {
      margin-bottom: 10px;

      a {
        @include link-full-item-list;

        .field--name-field-titre {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;

          p {
            font-family: $CONST-FONT;
            color: #1D1D1B !important;
            @include font-size(13px);
            line-height: 1.3;
            font-weight: 500;
            margin-bottom: 0;
          }
        }

        &:hover {
          color: $color-bleu-01;

          p {
            color: $color-bleu-01;
          }
        }
      }
    }

    .field--name-body {
      margin-bottom: 7px;

      p {
        @include font-size(12px);
        font-weight: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;

        &+p {
          margin-top: 1rem;
        }
      }
    }

    .field--name-field-date-de-publlication {
      //margin-top: auto;
      font-family: $CONST-FONT;
      color: $black;
      @include font-size(13px);
      line-height: 1.3;
      font-weight: normal;
    }
  }
}

.block-custom-article.block-custom-description-article-block {
  position: relative;
  display: block;
  margin: 16px 0 16px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  &:before {
    background-color: $black;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
  }

  .terms {
    display: inline-block;
    background-color: $white;
    font-family: $CONST-FONT;
    color: $black;
    @include font-size(15px);
    line-height: 1.3;
    font-weight: 400;
    position: relative;
    padding: 0 10px;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 30px 0 0;
      font-size: 16px;
    }

    .termsnames {
      font-weight: 700;
    }
  }
}

.block-views-exposed-filter-blockarticle-list-page-1 {
  position: relative;
  height: calc(100% - 20px);
  background-color: $burger-color;
  padding: 15px 15px;
  border-left: 10px solid $red;

  >h2 {
    display: block;
    margin-bottom: 10px;
    color: $black;
    @include font-size(14px);
    line-height: 1.3;
    font-weight: 600;
    position: relative;
  }

  form {
    >.form--inline {
      display: flex;
      flex-direction: column;
    }

    .form-item {
      float: none !important;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 10px;

      .form-item--wrapper {
        padding: 10px 10px;
        background: $white;
      }

      &.form-item-keys {
        .form-item--wrapper {
          position: relative;

          input {
            padding-left: 40px;
          }

          &:after {
            content: "\f002";
            font-family: $CONST-FONT-Awesome;
            font-size: 15px;
            font-weight: 900;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 12px;
            bottom: 8px;
            opacity: 0.7;
          }
        }

      }

      &.form-item-keys,
      &.form-item-field-date-de-publlication-value {
        label {
          font-size: 0;
        }
      }

      label {
        display: block;
        margin-bottom: 0;
        position: relative;
        color: $black;
        @include font-size(14px);
        line-height: 1.3;
        font-weight: 600;
        padding-top: 10px;

        &:before {
          content: "";
          background-color: $red;
          width: 100px;
          height: 2px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      input {
        width: 100%;
        background-color: $burger-color;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        font-size: 13px;
      }

      select {
        width: 100%;
        background-color: $burger-color;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        font-size: 13px;
        cursor: pointer;
      }

      &.js-form-item-field-actualites-target-id {
        select {
          min-height: 90px;
          @include scrollbars(3px, $gray-dark-12, $gray-dark-2);
        }
      }
    }

    .form-actions {
      text-align: center;
    }
  }
}

.node--type-presse {
  &.node--view-mode-full {
    .node-presse-content {
      &__presse {
        strong {
          @include font-size(28px);
          margin-right: 10px;
        }

        font-family: $CONST-FONT;
        color: $black;
        @include font-size(17px);
        line-height: 1.3;
        font-weight: normal;
        margin-bottom: 20px;
      }

      &__info {
        .field--name-title {
          color: $color-bleu;
          @include font-size(17px);
          line-height: 1.3;
          font-weight: normal;
        }

        .field--name-body {
          margin-bottom: 30px;

          >*:nth-child(1) {
            margin-top: 0 !important;
          }

          p {
            margin-bottom: 0;

            &+p {
              margin-top: 1rem;
            }
          }
        }
      }

      &__img {
        img {
          width: 100%;
          height: auto;
          border: 1px solid $red;
        }
      }
    }
  }
}

.path-lutte-contre-decrochage-scolaire {
  &.view-association.view-id-association {
    background-color: rgba(225, 225, 225, 0.33);
    border-left: 10px solid $color-bleu-03;
    padding: 15px;

    @include media-breakpoint-up(md) {
      padding: 40px 45px;
    }

    .views-content-association {
      >.row {
        >div {
          margin-bottom: 20px;

          @include media-breakpoint-up(md) {
            margin-bottom: 40px;
          }
        }
      }
    }

    .view-header {
      .total-association {
        margin-bottom: 15px;
        background-color: $gr;
        text-align: center;
        padding: 20px 15px 20px 83px;
        border-radius: 20px;
        color: $black;
        @include font-size(25px);
        line-height: 1.3;
        font-weight: normal;
        position: relative;

        @include media-breakpoint-up(md) {
          text-align: right;
          padding: 20px 15px 20px 65px;
          @include font-size(16px);
        }

        strong {
          display: block;
        }

        &:before {
          content: "\f178";
          font-family: $CONST-FONT-Awesome;
          font-weight: 900;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $color-bleu-03;
          color: $color-bleu-03;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 17px;

          @include media-breakpoint-up(md) {
            width: 35px;
            height: 35px;
            left: 14px;
          }
        }
      }

      .row {
        .col-md-6 {
          @include media-breakpoint-up(md) {
            padding: 10px;
          }
        }

        p {
          background-color: $gr;
          text-align: center;
          padding: 30px 0;
          border-radius: 10px;
          color: $black;
          @include font-size(13px);
          line-height: 1.3;
          font-weight: normal;
          margin-bottom: 15px;

          @include media-breakpoint-up(md) {
            margin-bottom: 0;
            @include font-size(11px);
            min-height: 123px;
          }

          strong {
            @include font-size(20px);
            display: block;

            @include media-breakpoint-up(md) {
              @include font-size(14px);
              margin-bottom: 14px;
            }
          }
        }
      }
    }

    .node--type-association {
      &.node--view-mode-list {
        background-color: $white;
        border-radius: 15px;
        overflow: hidden;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

        .field--name-field-image-association {
          position: relative;
          width: 100%;
          height: 160px;
          overflow: hidden;

          &::before {
            content: "\2b";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: red;
            background-color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 40px;
            border: none;
            z-index: 1;
            @include font-size(18px);
          }

          .contextual-region {
            position: static;
          }


          img {
            position: absolute;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            transition: $link-transition-off;
            left: 0;
            top: 0;
            border-radius: 15px;
            border: 1px solid $color-bleu-03;
          }
        }

        .node-association-content {
          padding: 10px 15px 5px;
          display: flex;
          flex-direction: column;

          //justify-content: center;
          h2 {
            margin-bottom: 10px;

            a {
              @include link-full-item-list;
              font-family: $CONST-FONT;
              color: $color-bleu-03;
              @include font-size(13px);
              line-height: 1.3;
              font-weight: bold;
              display: block;
            }
          }

          .field--name-field-chiffre {
            font-family: $CONST-FONT;
            color: $color-bleu-03;
            @include font-size(11px);
            line-height: 1.3;
            font-weight: normal;
            // display: -webkit-box;
            // -webkit-line-clamp: 1;
            // -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.node--type-association {
  &.node--view-mode-full {
    padding-bottom: 30px;

    .content-left {
      padding: 30px 30px 15px 50px;
      background-color: #f1f1f1;
      border-left: 10px solid $color-bleu-03;

      .nos-associations {
        display: flex;
        align-items: center;

        span {
          color: $red;
          font-weight: 600;
          margin: 0 7px 0 0;
        }

        a {
          font-family: $CONST-FONT;
          color: $red;
          @include font-size(13px);
          text-decoration: underline;
          font-weight: 600;
        }
      }

      .field--name-field-categories {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .field__item {
          background-color: $white;
          width: fit-content;

          padding: 4px 20px;
          border-radius: 30px;
          margin: 15px 12px 15px 0;

          a {
            font-family: $CONST-FONT;
            color: $color-bleu-03;
            @include font-size(13px);
            line-height: 1.3;
            font-weight: normal;

            &:hover {
              text-decoration: none !important;
            }
          }
        }


      }

      .field--name-title {
        font-family: $CONST-FONT;
        color: $color-bleu-03;
        @include font-size(30px);
        line-height: 1.3;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .field--name-field-sous-titre {
        font-family: $CONST-FONT;
        color: #423f3f;
        @include font-size(16px);
        text-transform: lowercase;
        line-height: 1.3;
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
          max-width: 340px;
        }

      }

      .field--name-field-byline {
        >.field__item {
          .paragraph--type--titre-description {
            border-bottom: 2px solid #cbcbcb;
            margin-bottom: 30px;

            .field--name-field-titre {
              font-family: $CONST-FONT;
              color: $dark;
              @include font-size(16px);
              line-height: 1.3;
              font-weight: 600;
            }

            .field--name-field-description {
              font-family: $CONST-FONT;
              @include font-size(12px);
              color: #3c3c3c;
              line-height: 1.5;
              font-weight: normal;
            }
          }

          &:last-child {
            .paragraph--type--titre-description {
              border-bottom: none;
              margin-bottom: 0;
            }

          }
        }
      }
    }

    .content-right {
      background-color: $color-bleu-03;

      .field--name-field-temoignage {
        .paragraph--type--citation {
          .swiper {
            width: 100%;
            height: 100%;

            .swiper-wrapper {
              .swiper-slide {
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }

            .swiper-pagination {
              display: flex;
              justify-content: flex-end;
              padding-right: 18px;

              .swiper-pagination-bullet {
                background-color: $white !important;
                opacity: 1;
                width: 12px;
                height: 12px;
                border-radius: 0 !important;

                &.swiper-pagination-bullet-active {
                  background-color: $red !important;
                }
              }
            }
          }
        }
      }

      .description-temoignage {

        margin-top: -1px;

        .description-temoignage-item {
          padding-top: 50px;
          padding-bottom: 30px;
          width: 85%;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 500px;

          @include media-breakpoint-up(md) {
            width: 80%;
          }

          .field--name-field-description {
            margin-bottom: 20px;

            p {
              font-family: $CONST-FONT;
              color: $white;
              @include font-size(16px);
              line-height: 1.5;
              font-weight: 600;
              text-align: center;
            }
          }

          .field--name-field-auteur {
            font-family: $CONST-FONT;
            color: $white;
            @include font-size(16px);
            line-height: 1.5;
            font-weight: normal;
            text-align: center;
          }

        }
      }

      .lien-site {
        margin-top: -1px;
        padding-top: 30px;
        padding-bottom: 30px;

        .field--name-field-lien-du-site,
        .lien-president {
          @include media-breakpoint-down(sm) {
            margin-top: 20px
          }

          background-color: $white;
          padding: 8px 20px;
          border-radius: 30px;
          margin-right: 18px;

          a {
            font-family: $CONST-FONT;
            color: $dark;
            @include font-size(13px);

            &:hover {
              text-decoration: none !important;
            }
          }
        }

        .lien-president {
          padding: 8px 35px;


          a {
            position: relative;

            &::before {
              content: "\f0da";
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              position: absolute;
              top: -3px;
              left: -23px;
              color: $red;
              font-size: 20px;
            }
          }
        }

      }
    }
  }
}

.page-node-type-page {
  .node--type-page {
    &.node--view-mode-full {
      border-left: 5px solid #170864;
      padding: 40px 45px;

      .title-node {
        .field--name-field-titre-page {
          .paragraph--type--titre-page {
            margin-bottom: 15px;

            .field--name-field-titre-page {
              position: relative;
              font-family: $CONST-FONT;
              color: $color-bleu;
              @include font-size(24px);
              font-weight: 800;
              line-height: 1.4;
              letter-spacing: 2px;
              margin-left: 33px;

              &::before {
                content: "";
                background-image: url("#{$bi-img-path}/intro-icone.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 35px;
                height: 35px;
                position: absolute;
                left: -47px;
                top: 0px;
              }

            }

          }
        }

      }

      .field--name-body {
        .templaste-abstract {
          .content-left {
            @include media-breakpoint-up(md) {
              border-right: 1px solid #706f6f;
              margin-left: -10px;
            }

            margin-bottom: 15px;

            @include media-breakpoint-up(md) {
              margin-bottom: 0;
              padding-right: 40px;
              padding-top: 35px;
            }

            h3 {
              color: #2751c1;
              margin-bottom: 15px;
              letter-spacing: 1px;
              @include font-size(22px);
            }

            p {
              color: $dark;
              @include font-size(16px);
              margin-bottom: 20px;

              @include media-breakpoint-up(md) {
                padding-left: 20px;
              }
            }

            div {
              padding-bottom: 8px;

              @include media-breakpoint-up(md) {
                padding-left: 40px;
              }

              a {
                color: #2751c1;
                letter-spacing: 1px;
                font-weight: 700;
                @include font-size(18px);
              }
            }
          }

          .content-right {
            @include media-breakpoint-up(md) {
              padding-left: 40px;
            }

            img {
              width: 100%;
              height: auto;
            }
          }
        }

        p {
          font-family: $CONST-FONT;
          color: #1b1b1b;
          @include font-size(14px);
          font-weight: normal;
          line-height: 1.4;
        }

        ul,
        ol {
          font-family: $CONST-FONT;
          color: $text-color;
          @include font-size(14px);
          font-weight: normal;
          line-height: 1.2;
          margin: 20px 0;
          padding: 0px 0 0 25px;

          li {
            margin-bottom: 8px;
          }
        }

        ol {
          li {
            &::marker {
              color: $dark !important;
              width: 5px;
              height: 5px;
              @include font-size(15px);
              font-weight: 600;
            }
          }

        }

        ul {
          li {
            h3 {
              a {
                text-decoration: underline !important;
              }
            }
          }
        }

        h2,
        h3 {
          font-family: $CONST-FONT;
          color: $dark;
          font-weight: 800;
          line-height: 1.2;
          margin-bottom: 10px;

        }

        h2 {

          @include font-size(22px);

        }

        h3 {

          @include font-size(20px);

        }

        hr {
          border-top: 2px solid #232323 !important;
          margin: 20px 0;
        }

        h4 {
          font-family: $CONST-FONT;
          @include font-size(18px);
          margin-bottom: 10px;
          font-weight: 400 !important;
          color: #4d4d4d;
          text-transform: capitalize;
        }

        // h4+p {
        //   color: #4d4d4d;
        //   border-bottom: 1px solid #c1c1c1;
        //   padding-bottom: 20px;
        // }


        img.align-left {
          margin-right: 40px;
          margin-bottom: 20px;
          max-width: 100%;
          height: auto;
        }

        img.align-right {
          margin-left: 40px;
          margin-bottom: 20px;
          max-width: 100%;
          height: auto;


        }

      }

      .field--name-field-administrateurs {

        // .paragraph--type--administrateurs {
        .paragraph--type--image-titre-description {
          .field--name-field-image-administrateur {
            position: relative;
            width: 100%;
            height: 130px;
            overflow: hidden;

            img {
              position: absolute;
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 100%;
              transition: $link-transition-off;
              left: 0;
              top: 0;
              border-radius: 15px;

            }


          }

          .field--name-field-titre-administrateur {
            font-family: $CONST-FONT;
            color: $color-bleu;
            @include font-size(14px);
            text-align: center;
            margin-top: 10px;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-weight: 600;
          }

          .field--name-field-description-administrateur {
            font-family: $CONST-FONT;
            color: $dark;
            @include font-size(12px);
            line-height: 1.3;
            width: 80%;
            margin: auto;
            text-align: center;
          }
        }

        .content-left {
          padding: 10px 7px;

          @include media-breakpoint-up(md) {
            padding: 10px 30px;
          }

          .field--name-field-titre-administrateurs {
            position: relative;
            margin-bottom: 15px;
            font-family: $CONST-FONT;
            color: $color-bleu;
            @include font-size(24px);
            font-weight: 800;
            line-height: 1.4;
            letter-spacing: 2px;
            margin-left: 40px;

            &::before {
              content: "\f178";
              font-family: $CONST-FONT-Awesome;
              font-weight: 900;
              width: 27px;
              height: 27px;
              border-radius: 50%;
              border: 2px solid $color-bleu;
              color: $color-bleu;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 5px;
              bottom: 0;
              left: -45px;
            }
          }

          .field--name-field-descriptions {
            font-family: $CONST-FONT;
            color: $color-bleu;
            @include font-size(14px);
            font-weight: normal;
            line-height: 1.4;
          }
        }

        .content-list-administrateur {
          padding-top: 30px;

          .field--name-field-administrateur-last {
            display: flex;
            flex-wrap: wrap;

            .paragraph--type--image-titre-description {
              width: 100%;
              margin-bottom: 25px;

              @include media-breakpoint-only(md) {
                width: calc(25% - 20px);
                margin-right: 26px;

                &:nth-child(4n) {
                  margin-right: 0;
                }
              }

              @include media-breakpoint-up(lg) {
                width: calc(20% - 20px);
                margin-right: 25px;

                &:nth-child(5n) {
                  margin-right: 0;
                }
              }

            }
          }
        }

        // }
      }
    }
  }
}

.field--name-field-accordions {
  padding-top: 15px;
  padding-bottom: 15px;

  .field__label {
    display: none;
  }

  .ui-accordion {

    h3.ui-state-active,
    h3.ui-state-default {
      background-color: $white;
      border: 1px solid $white;
      padding: 15px 17px;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 !important;

      &:hover {
        background-color: #eee;
        border: 1px solid #eee;
      }

      &.ui-corner-all {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
      }

      &.ui-corner-top {
        border-top-right-radius: 0;
        border-top-left-radius: 0
      }

      a {
        font-size: 15px !important;
        color: #000;
        font-weight: 500;
        line-height: 1.4;
      }

      // &:not(.collapsed)::after {
      //   transform: rotate(-180deg);
      // }
      .ui-accordion-header-icon {
        display: none;
      }

      &::after {
        flex-shrink: 0;
        width: 23px;
        height: 13px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11L11.5 2L1 11' stroke='white' stroke-width='3' stroke-miterlimit='3.63238'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        transition: transform .2s ease-in-out;
        margin-left: 20px;
      }

      &[aria-expanded="true"] {
        &:after {
          transform: rotate(0deg) !important;
        }
      }

      &[aria-expanded="false"] {
        &:after {
          transform: rotate(180deg) !important;
        }
      }
    }

    h3.ui-state-active {
      background-color: #eee !important;
      border: 1px solid #eee !important;
    }


    .ui-accordion-content {
      border: 1px solid #cecdd2 !important;
      background-color: $white !important;
      padding: 19px 16px;
      border-radius: 0 !important;


      .veille-item {
        .veille-titre {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          margin-bottom: -10px;

          strong {
            color: red;
            font-size: 18px;
            margin-right: 10px;
          }

          .titre {
            // font-size: 15px;
            // font-weight: 800 !important;
            // text-transform: none;

            a {
              font-weight: 800 !important;
              color: $color-bleu;
              text-decoration: none;

              >* {
                color: $color-bleu !important;
                font-size: 15px;
                font-weight: 800 !important;
                text-transform: none;
              }
            }
          }
        }

        .veille-titre-date {
          h3 {
            font-size: 15px;
            font-weight: 800 !important;
            text-transform: none;
          }

          span {
            font-size: 11px;
          }
        }

        .veille-description {
          blockquote {
            border-left: 4px solid $gr;
            padding-left: 15px;
          }

          p {
            @include font-size(14px);
            font-family: $CONST-FONT;
            line-height: 1.4;
            color: #1b1b1b;
            font-weight: 400;
          }
        }

        .send-email {
          a {
            font-weight: 600;
            float: right;
            background: #ffe8e8;
            padding: 2px;
            padding-left: 10px;
            padding-right: 10px;
            color: #000 !important;
            border-left: 4px solid red;
            font-size: 11px !important;
            transition: 0.7s;

            &:hover {
              border-color: #ff3131;
              color: #fff !important;
              background-color: #ff3131 !important;
              box-shadow: inset 250px 0 0 0 #ff3131;
              text-decoration: none;
            }
          }
        }


      }

    }

  }
}


.paragraph--type--partenaires {
  .field--name-field-titre {
    text-align: center;
    margin-bottom: 25px;
    font-family: $CONST-FONT;
    color: #2751c1;
    @include font-size(24px);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  .paragraph--type--temoin,
  .slick--field-temoin-slider {
    .field--name-field-avatar-auteur {
      position: relative;
      width: 100%;
      height: 130px;
      overflow: hidden;

      img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: $link-transition-off;
        left: 0;
        top: 0;
        border-radius: 15px;
        border: 1px solid $color-bleu-03;
      }
    }

    .field--name-field-nom-auteur {
      font-family: $CONST-FONT;
      color: $color-bleu;
      @include font-size(14px);
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
      text-transform: capitalize;
      font-weight: 600;
    }

    .field--name-field-auteur {
      font-family: $CONST-FONT;
      color: $dark;
      @include font-size(12px);
      line-height: 1.3;
      width: 80%;
      margin: auto;
      text-align: center;
      font-weight: 500;
    }
  }

  .content-left {
    .field--name-field-entete-temoin {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: auto;

      @include media-breakpoint-up(md) {
        flex-direction: row;

        justify-content: space-around;
      }

      .paragraph--type--temoin {
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          width: calc(50% - 20px);
          margin-right: 25px;
        }
      }

    }
  }

  .content-right {
    margin-top: 15px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .field--name-field-description {
      margin-bottom: 25px;

      p {
        font-family: $CONST-FONT;
        color: #2751c1;
        @include font-size(18px);
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 1px;
      }
    }

    .field--name-field-auteur {
      font-family: $CONST-FONT;
      color: $dark;
      @include font-size(14px);
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 1px;
      font-weight: 500;
    }

  }

  .text-video {
    margin-top: 40px;
    padding-left: 40px;

    .voir-video,
    .lire-text {
      a {
        //background: #000;
        padding: 3px 3px;
        color: #000;
        border-radius: 2.5px;
        line-height: 1;
        font-size: 17px;
        margin: 0 2px;
      }
    }
  }

  .rejoignez-nous {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: $CONST-FONT;
    color: #2751c1;
    @include font-size(24px);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;

    span {
      color: #0804045c;
      background-color: #ededed;
      margin-left: 10px;
      margin-left: 10px;
      padding: 2px 13px;
    }
  }

  .temoin-slider {
    .slick {
      .slick-list {
        .slick__slide {
          .slide__content {
            .slide__media {
              height: 30px !important;
            }

            .slide__description {
              .field--name-field-avatar-auteur {
                @media (max-width: 1024px) {
                  width: 90%;
                }
              }
            }
          }
        }
      }

      .slick__arrow {

        .slick-prev,
        .slick-next {
          top: -42px;
          margin: auto -10px;
        }

        .slick-prev {
          background-image: url("#{$bi-img-path}/next.png");

          @media (max-width: 1024px) {
            margin: auto -27px;
          }
        }

        .slick-next {
          background-image: url("#{$bi-img-path}/next.png");

        }

      }
    }
  }
}

.page-node-type-page {
  .ui-widget-content {

    .view-description-partenaire,
    .view-video-partenaire {
      background-color: $white;
      padding: 1rem;
    }
  }

}

.slick {
  position: relative;

  .slick-next,
  .slick-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15px;
    margin: auto;
    height: 19px;
    font-size: 0;
    border: none;
    background-image: url("#{$bi-img-path}/next-org.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .slick-next {
    right: 0;

  }

  .slick-prev {
    left: 0;
    transform: rotate(180deg);
  }
}

.custom-article-nos-dossiers-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-article-nos-dossiers-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.custom-article-nos-dossiers-form .form-item {
  margin-bottom: 15px;
}

.custom-article-nos-dossiers-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-article-nos-dossiers-form .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-article-nos-dossiers-form .form-submit {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-article-nos-dossiers-form .form-submit:hover {
  background-color: #0056b3;
}

.descriptionactus {
  color: #000000 !important;
}

.tohide .form-item-field-actualites-target-id {
  display: none;
}

.tohide .form-item-field-theme-target-id {
  display: none;
}

.tohide .form-item-field-intervenants-target-id {
  display: none;
}

.tohide .form-item-keys {
  display: none;
}

i.fa-brands.fa-square-x-twitter {
  color: #000;
}

.site-logo {
  color: #342aff;
}


.lesLogos img {
  /* max-width: 167px; */
  max-height: 82px;
  /* background: #eee; */
  padding: 9px;
  text-align: left;
  margin: auto;
  margin-right: 19px;
  margin-bottom: 6px;
  border: 1px solid #eee;
  border-radius: 7px;
  height: 56px;
}

.lesLogos td {
  text-align: left;
  /* background: #eee; */
  vertical-align: bottom;
  float: left;
}

h3.titreLogo {
  background: #fff1f1;
  border-left: 4px solid red;
  padding: 9px;
}

.node--type-chiffres {
  &.node--view-mode-full {
    .field--name-field-accroche {
      color: #2c05f2;
      font-size: 17px;
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .field--name-body,
    .field--name-field-chiffre-top {
      margin-bottom: 30px;
    }

    .field--name-field-chiffre-top {
      .field--name-field-chiffre {
        font-size: 16px;
        font-weight: 700;
        color: #2c05f2;
      }

      .field--name-field-texte-chiffre {
        font-size: 12px;
        font-weight: 600;
        color: #2c05f2;
      }
    }

    .field--name-field-chiffre-bottom {
      margin-bottom: 30px;

      .field--name-field-chiffre {
        font-size: 12px;
        font-weight: 700;
        color: #2c05f2;
      }

      .field--name-field-texte-chiffre {
        font-size: 11px;
        font-weight: 600;
        color: #2c05f2;
      }
    }
  }
}

.paragraph--type--chiffre {
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  /* border: 1px solid #9b9b9b; */
  background: #fff1f1;
  box-shadow: 6px 5px 5px 0 rgba(204, 204, 204, .75);
  -webkit-box-shadow: 6px 5px 5px 0 rgba(204, 204, 204, .75);
  -moz-box-shadow: 6px 5px 5px 0 rgba(204, 204, 204, .75);
  border-left: 5px solid red;

}

article.node.node--type-chiffres {
  border-left: 5px solid #170864;
  padding: 40px 45px;
}

.nosDossiers ul.dropdown-menu.show {
  top: -51px !important;
}

.node--type-association,
.node {
  &.node--view-mode-teaser {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .iconepodcast,
    .iconevideo {
      position: absolute;
      left: 10px;
      top: 10px;
      color: $red;
      background: $white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-size(15px);
      line-height: 1;
      //opacity: 0.8;
    }

    &:hover {

      .not-img,
      .field--name-field-image-article {
        img {
          transform: scale(1.2);
        }
      }
    }

    .not-img,
    .field-image {
      position: relative;
      width: 100%;
      height: 130px;
      margin-bottom: 10px;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: $link-transition-off;
        background-image: url("#{$bi-img-path}/design_sans_titre.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .not-img {
      background-image: url("#{$bi-img-path}/404.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    h2 {
      margin-bottom: 10px;

      a {
        @include link-full-item-list;

        .field--name-title,
        .field--name-field-titre {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;

          font-family: $CONST-FONT;

          @include font-size(13px);
          line-height: 1.3;
          font-weight: 500;
          margin-bottom: 0;
          font-size: 11px;
          font-weight: 700;
        }

        &:hover {
          color: $color-bleu-01;

          p {
            color: $color-bleu-01;
          }
        }
      }
    }

    .field--name-body {
      margin-bottom: 7px;

      p {
        @include font-size(12px);
        font-weight: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;

        &+p {
          margin-top: 1rem;
        }
      }
    }

    .field--name-field-date-de-publlication {
      //margin-top: auto;
      font-family: $CONST-FONT;
      color: $black;
      @include font-size(13px);
      line-height: 1.3;
      font-weight: normal;
    }
  }
}

.page-node-type-parcours {
  .node--type-parcours {
    .photo-container {
      position: relative;
      // width: 100vw;
      height: 100vh;
      max-height: 651px;
      // overflow: hidden;
    }

    .photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 964px;
      height: 651px;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .photo.visible {
      opacity: 1;
    }

    .navigation {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      z-index: 9;
    }

    .arrow {
      cursor: pointer;
      font-size: 24px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      border: none;
      outline: none;
      pointer-events: auto;

      &.left {
        transform: translateX(-40px);
      }

      &.right {
        transform: translateX(40px);
      }
    }

    .audio-icons {
      position: absolute;
      top: 6%;
      left: 68%;
      transform: translateX(-50%);
      font-size: 48px;
      color: white;
      display: none;
    }

    .audio-icon {
      cursor: pointer;
      margin: 0 10px;

    }

    .field--name-field-slider-parcours {
      .field__label {
        display: none;
      }
    }
  }
}

.paragraph--type--nous-font-confiance {
  .paragraph--type--finacement {
    .group-left {
      @include media-breakpoint-up(lg) {
        padding-right: 50px;
      }

    }

    .group-right {
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      .field--name-field-video-te {
        @include media-breakpoint-up(lg) {
          //margin-top: -42px;
        }

        .field--name-field-image {
          overflow: hidden;

          a {

            &:after,
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
            }

            &:before {
              width: 50px;
              height: 50px;
              border-radius: 100%;
              background-color: $white;
              z-index: 1;
              border: 2px solid #ff000024;
            }

            &:after {
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 6.5px 0 6.5px 13px;
              border-color: transparent transparent transparent $red;
              transform: rotate(0deg);
              z-index: 2;
              left: 5px;
            }

            &:hover {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    .field--name-field-pre-temoignage {
      font-family: $CONST-FONT;
      color: $dark;
      @include font-size(16px);
      text-align: left;
      margin-top: 10px;
      margin-bottom: 70px;
      font-weight: 700;
    }

    .field--type-text-long {
      font-family: $CONST-FONT;
      color: $color-bleu;
      @include font-size(14px);
      text-align: left;
      font-weight: 400;
    }


  }

  .swiper-swiper-page {
    position: relative;
    margin-top: 50px;

    .swiper-button-prev {
      background-image: url("#{$bi-img-path}/next.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 25px;
      transform: rotate(180deg);
      left: -33px;
      top: 45%;

      &::after {
        content: none;
      }
    }

    .swiper-button-next {
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 25px;
      background-image: url("#{$bi-img-path}/next.png");
      right: -33px;
      top: 45%;

      &::after {
        content: none;
      }
    }
  }

  .swiper-page {
    .swiper-slide {
      .field-name-avatar {
        position: relative;
        width: 100%;
        height: 90px;
        overflow: hidden;
        border: 1px solid #170864;
        border-radius: 15px;

        img {
          position: absolute;
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
          transition: $link-transition-off;
          left: 0;
          top: 0;
          border-radius: 15px;
        }
      }

      .field-nom-prenom {
        font-family: $CONST-FONT;
        color: $color-bleu;
        @include font-size(14px);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-weight: 600;
      }

      .field-fonction {
        font-family: $CONST-FONT;
        color: $dark;
        @include font-size(12px);
        line-height: 1.3;
        width: 80%;
        margin: auto;
        text-align: center;
        font-weight: 700;
      }
    }


  }


}


.user-logged-in {
  .block-local-tasks-block {
    &.contextual-region {
      z-index: 2;
    }
  }
}


.paragraph--type--contact,
.webform-contact .path-webform {
  padding: 10px 0;

  .content-contact {
    @include media-breakpoint-up(md) {
      padding-left: 35px;
    }

  }

  .content-body {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 13px;
    }

  }
}

form.webform-submission-contactez-nous-form,
form.webform-submission-formulairedon-form,
form.webform-submission-financement-form {
  label {
    font-family: $CONST-FONT;
    line-height: 150%;
    font-size: 16px;
    color: $color-bleu;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
  }

  input,
  textarea {
    &.form-control {
      color: #5d5d5d !important;
      font-size: 14px;
      margin: 0;
      padding: 10px;
      background: #fff;
      width: 100%;
      border: 2px solid #d0d0d0 !important;
      border-radius: 3px;

      &:focus {
        border: 1px solid #5d5d5d !important;
        ;
        outline: none !important;
      }
    }


    &.form-submit {
      font-weight: 500;
      font-size: 16px;
      line-height: 42px;
      width: auto;
      white-space: nowrap;
      height: 42px;
      margin: 12px 5px 12px 0;
      padding: 0 22px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      border: 0;
      border-radius: 3px;
      vertical-align: top;
      background-color: $color-bleu;
      color: #ffffff !important;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  textarea {

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: $color-bleu;
      @include font-size(14px);
      line-height: 27px;
      text-align: left;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  select {
    &.form-control {
      margin: 0;
      padding: 12px;
      background: #fff;
      width: 100%;
      border: 2px solid #d0d0d0 !important;
      border-radius: 3px;

      &:focus {
        border: 1px solid #5d5d5d !important;
        ;
        outline: none !important;
      }
    }

    option {
      font-family: $CONST-FONT;
      font-size: 14px;
      color: $black;
      font-weight: 700;
      position: relative;
      margin-left: 5px;

      &::before {
        content: "-";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        width: 25px;
        height: 20px;
        left: -8px;
        top: 2px;
      }
    }
  }
}

.ui-dialog {
  // background-color: #eeeeee !important;
  // padding: 40px 20px;

  .ui-dialog-content {
    form.webform-submission-contactez-nous-form {
      background-color: $white;
      padding: 30px 20px;
    }
  }

  .ui-dialog-buttonpane {
    background-color: transparent !important;
    border: none !important;

    .ui-dialog-buttonset {
      float: none;
      width: 100%;
      text-align: center;
      background: white;
      margin-top: -11px;
      z-index: 1;
      position: relative;

      .form-submit {
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        width: auto;
        white-space: nowrap;
        height: 42px;
        margin: 12px 5px 12px 0;
        padding: 0 22px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 0;
        border-radius: 3px;
        vertical-align: top;
        background-color: $color-bleu;
        color: #ffffff !important;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }

  .ui-widget-header {
    .ui-dialog-titlebar-close {
      right: 37px !important;
      background: transparent !important;

      &::before {
        content: "X";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        width: 25px;
        height: 20px;
        top: 2px;
        font-size: 16px;
        color: #2c05f2;
      }
    }
  }

}


.path-search {
  div#edit-actions {
    margin-top: 0 !important;
  }
}


.path-search {
  .view-search {
    .view-filters {
      margin-bottom: 15px;

      form.views-exposed-form {
        padding: 10px 0;

        .form--inline {
          .form-item {
            margin-right: 1em;
          }

          display: flex;
          align-items: center;

          .form-actions {
            position: relative;
            float: none !important;

            input#edit-reset {
              position: absolute;
              left: -18px;
              top: -6px;
              bottom: 0;
              right: 0;
              z-index: 5;
              font-size: 0;
              border: none;
              border-radius: 0;
              color: #fff;
              background-color: #fff !important;
              -webkit-box-shadow: none;
              box-shadow: none;
              margin-left: 20px;
              background-image: url("data:image/svg+xml,%3Csvg style='color: red' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z' fill='red'%3E%3C/path%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              width: 17px;
              height: 22px;
              border: 1px solid red;

            }


          }
        }
      }
    }

  }
}