<div class="veille-item">
  <div class="send-email">
   <a class="mailto" href="mailto:?subject=Veille institutionnelle&amp;body=Salut%2C%0AJ'ai%20pens%C3%A9%20que%20cet%20article%20pourrait%20vous%20int%C3%A9resser%3A%0A{{lienarticle|raw}}">Signaler par E-mail</a>

  </div>
</div>