






<div class="container-fluid templaste-abstract ">
  <div class="row">
    <div class="col-md-6 content-left">
      {{ textarea|raw }}
    </div>
    <div class="col-md-6 content-right">
      <img src="{{ image }}" class="img-fluid" alt="">
    </div>
  </div>
</div>
