<div class="veille-item">
  <div class="veille-titre">
    <strong>{{ etoile|raw }}</strong>
    <div class="titre"><a href="{{ lienpresse }}" target="_blank">{{ titre|raw }}</a></div>
  </div>
  <div class="veille-titre-date">
    <h3><strong>{{ titredate|raw }}</strong> - {{ date|raw }}</h3>
  </div>
  <div class="veille-description" style="
    margin-bottom: -13px;
">
    <blockquote> {{ description|raw }}</blockquote>
  </div>
  <div class="send-email" style="
    margin-bottom: 41px;
">
    <a href="mailto:?subject=Revue de presse&amp;body=Bonjour,%0AJ'ai pensé que cet article pourrait vous intéresser :%0Ahttp://alphaomegafondation.com/uniforme-ecole">Signaler par E-mail</a>
  </div>
</div>
