/* CUSTOM META TAGS */

#custom-meta-tags-form-id {
background: #a58f8f !important;
    max-width: 430px; /* Réduire la largeur à 300px ou à la valeur souhaitée */
    left: 0px; /* Ajuster si nécessaire pour positionner correctement sur la page */
    position: fixed; /* Garde le bloc en position fixe */
    top: 28%;
    padding: 15px;
    font-size: 14px;
    border-radius: 0 15px 15px 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
}

.custom-meta-tags-form-id .block-title{
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
}
#custom-meta-tags-form-id input,
#custom-meta-tags-form-id textarea,
#custom-meta-tags-form-id .form-actions {
    max-width: 100%; /* Assure que tous les éléments à l'intérieur ne dépassent pas la largeur du formulaire */
    box-sizing: border-box; /* S'assure que le padding et la bordure sont inclus dans la largeur totale */
}