
{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}


   <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            text-align: center;
            display: flex;
            justify-content: center;
            
        }

        #gallery {
            position: relative;
            width: 964px;
            height: 651px;
            overflow: hidden;
            vertical-align: top;
        }
        
        #gallery img {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        #gallery img.active {
            display: block;
            opacity: 1;
        }
        
        #controls {
            /* margin-top: 20px; */
            position: absolute;
            /* float: left; */
            /* width: 100%; */
            top: 92%;
            left: 47%;
        }
        
        .fa-backward-step, .fa-forward-step, .fa-volume-high,.fa-backward-fast{
            color:#4238ff;
        }
        
        .fa-volume-xmark{
            color:red;
        }

        button {
            font-size: 18px;
            border: 1px solid #000;
            background: #fff;
            border-radius: 3px;
        }




    </style>
    <article{{ attributes.addClass(classes) }}>

      {{ title_prefix }}
      {% if label and not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

        <div id="gallery">
            <!-- Ajouter vos images ici -->
            <img src="/images/step-0.png" alt="Step 1" class="active">
            <img src="/images/step-00.png" alt="Photo 1">
            <img src="/images/step-1.png" alt="Photo 2">
            <img src="/images/step-2.png" alt="Photo 3">
            <img src="/images/step-3.png" alt="Photo 4">
            <img src="/images/step-4.png" alt="Photo 5">
            <img src="/images/step-5.png" alt="Photo 6">
            <img src="/images/step-55.png" alt="Photo 6">
            <img src="/images/step-6.png" alt="Photo 7">
            <img src="/images/step-7.png" alt="Photo 8">
            <img src="/images/step-8.png" alt="Photo 9">
            <img src="/images/step-9.png" alt="Photo 9">
            <img src="/images/step-10.png" alt="Photo 9">
            <img src="/images/step-11.png" alt="Photo 9">
            <img src="/images/step-12.png" alt="Photo 9">
        </div>

        <div id="controls">
            <button onclick="showStep(0)"><i class="fa-solid fa-backward-fast"></i></button>
            <button onclick="prevStep()"><i class="fa-solid fa-backward-step"></i></button>
            <button class="soundControl" onclick="toggleSound()"><i class='fa-solid fa-volume-high'></i></button>
            <button onclick="nextStep()"><i class="fa-solid fa-forward-step"></i></button>
        </div>

        <audio id="audio" src="/images/step-0.wav"></audio>

    </article>

    <script>
        const images = document.querySelectorAll('#gallery img');
        const audio = document.getElementById('audio');
        let currentStep = 0;
        let isMuted = false;

 
        function fadeIn(element) {
            element.style.opacity = 1;
        }

        function fadeOut(element) {
            element.style.opacity = 0;
        }

        
        function showStep(step) {
            fadeOut(images[currentStep]);
            currentStep = step;
            fadeIn(images[currentStep]);
                images[currentStep].classList.add('active'); // Ajouter la classe 'active' à l'image en cours

            audio.src = '/images/step-' + (currentStep + 1) + '.wav'; // Utilisation de la concaténation de chaînes
            console.log(audio.src);
            console.log(currentStep);
            if (!isMuted) {
                audio.play();
            }
        }

        function prevStep() {
            let prevStep = (currentStep - 1 + images.length) % images.length;
            showStep(prevStep);
        }

        function nextStep() {
            let nextStep = (currentStep + 1) % images.length;
            showStep(nextStep);
        }

        function toggleSound() {
            const contentElement = document.querySelector('.soundControl');
            if (isMuted) {
                audio.play();
                isMuted = false;
                contentElement.innerHTML = "<i class='fa-solid fa-volume-high'></i>";
            } else {
                audio.pause();
                isMuted = true;
               contentElement.innerHTML = "<i class='fa-solid fa-volume-xmark'</i>";
            }
        }
        


        // Afficher la première étape au chargement de la page
        showStep(currentStep);
    </script>
