{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bootstrap5/node') }}
    <style>
        .image-container {
            position: relative;
            display: inline-block;
            margin: 10px;
        }
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 572px;
    margin-left: 35px;
}
        .image-container img.active {
            z-index: 2;
        }
        .cta {
            float: left;
            background: #fff;
            color: #3f35ff;
            border: 2px solid #3f35ff;
            padding: 4px;
            margin-top: 17px;
            margin-right: 8px;
            /* margin: auto; */
            border-radius: 5px;
            font-family: Poppins, sans-serif;
            font-size: 13px;
        }
        .text-container {
            /* float: left; */
            width: 611px;
            margin: auto;
        }
        .text-association {
            font-weight: 700;
            padding-top: 25px;
            float: left;
            width: 316px;
            font-family: Poppins, sans-serif;
            line-height: 1.5;
            font-weight: 400;
            color: #000;
            font-size: .8125rem;
        }
        .text-association h1 {
            font-family: Poppins, sans-serif;
            font-size: 22px;
            font-weight: 700;
        }
        span.carte-sub {
            margin-bottom: 50px;
            float: left;
        }
        .page-container {
            float: left;
            width: 100%;
            min-height: 725px;
        }
        .image-links {
            float: left;
            width: 621px;
            height: 624px;
            position: relative;
        }
        span.carte-ch {
            float: left;
            width: 100%;
            padding-top: 18px;
        }
        span.carte-chiffre {
            font-weight: 700;
                float: right;
                color: #fff;
        }
span.carte-titre {
    font-weight: 700;
    color: #3f35ff;
    border: 1px solid #3f35ff;
    padding-left: 5px;
    padding-right: 5px;
    background: #fff;
    border-radius: 3px;
}
span.carte-descp {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
    color: #fff;
}
        span.carte-ch {
            float: left;
            width: 100%;
            margin-top: 2px;
            background: #ffffff;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
.copyrighter {
    float: left;
    width: 100%;
    /* background: red; */
    margin-top: 60px;
    text-align: center;
    font-size: 10px;
}
    </style>
<article{{ attributes.addClass(classes) }}>
      {{ title_prefix }}
      {% if label and not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}
      
      <div class="page-container">
        
        <div class="image-container">
            <div class="text-association">
                 <h1>Présents partout en France</h1>
                 <p>
                    <span class="carte-sub">Implantation des associations soutenues</span>

                    <span class="carte-ch" id="cta2" ><span class="carte-titre" onclick="toggleImage(2);">Article 1 </span><span class="carte-chiffre">178 000 lycéens accompagnés </span><br>
                    <span class="carte-descp">Orientation professionnelle en milieu populaire</span></span>


                    <span class="carte-ch" id="cta3"><span class="carte-titre" onclick="toggleImage(3);">AFEV </span><span class="carte-chiffre">22 000 Binômes</span><br>
                    <span class="carte-descp">Mentorat étudiant - jeunes défavorisés</span></span>


                    <span class="carte-ch" id="cta4"><span class="carte-titre" onclick="toggleImage(4);">Coup de pouce </span><span class="carte-chiffre">10 000 Lecteurs</span><br>
                    <span class="carte-descp">Prévenir l’illettrisme</span></span>


                    <span class="carte-ch" id="cta5"><span class="carte-titre" onclick="toggleImage(5);">Energie jeunes </span><span class="carte-chiffre">126 550 collégiens</span><br>
                    <span class="carte-descp">Combattre le fatalisme social</span></span>


                    <span class="carte-ch" id="cta6"><span class="carte-titre" onclick="toggleImage(6);">Entreprendre pour apprendre </span><span class="carte-chiffre">33 000 jeunes</span><br>
                    <span class="carte-descp">Interconnecter l’école et l’entreprise</span></span>


                    <span class="carte-ch" id="cta7"><span class="carte-titre" onclick="toggleImage(7);">Missions locales </span><span class="carte-chiffre">1,1 million de jeunes</span><br> 
                    <span class="carte-descp">Faciliter l’insertion</span></span>
                    </p>
            </div> 
            <div class="image-links">
                <img src="/images/11_Cartographie_VF.png" alt="Image 1" class="active">
                <img src="/images/22_Cartographie_VF.png" alt="Image 2">
                <img src="/images/33_Cartographie_VF.png" alt="Image 3">
                <img src="/images/44_Cartographie_VF.png" alt="Image 4">
                <img src="/images/55_Cartographie_VF.png" alt="Image 5">
                <img src="/images/66_Cartographie_VF.png" alt="Image 6">
                <img src="/images/77_Cartographie_VF.png" alt="Image 7">
            </div>
        </div>
          <div class="copyrighter">Copyright Fondation AlphaOmega - 2023 - Données fournies par les associations</div>
    </div>
</article>
<script>
    function toggleImage(imageNumber) {
        var image = document.querySelector('.image-container img:nth-child(' + imageNumber + ')');
        var button = document.getElementById("cta" + imageNumber);
        
        if (image.classList.contains('active')) {
            button.style.backgroundColor = "#fff";
            image.classList.remove('active');
            button.style.color = '#fff';
        } else {
            console.log(imageNumber);
            image.classList.add('active');
            button.style.color = '#fff';
            if (imageNumber==2){
                button.style.backgroundColor = "#a70021";  
                document.querySelector('#cta' + imageNumber + ' .carte-titre').color = '#fff';
            }
            if (imageNumber==3){
                button.style.backgroundColor = "#eb002c";
            }
            if (imageNumber==4){
                button.style.backgroundColor = "#ffbb2c";
            }
            if (imageNumber==5){
                button.style.backgroundColor = "#a5caec";
            }
            if (imageNumber==6){
                button.style.backgroundColor = "#00649a";
            }
            if (imageNumber==7){
                button.style.backgroundColor = "#d500d3";
            }
            if (imageNumber==7){
                button.style.backgroundColor = "#d500d3";
            }
            
        }
    }


</script>
