// Bootstrap variables (overrides).

// Toggle global options.
// https://getbootstrap.com/docs/5.1/customize/options/
// --------------------------------------------------
$enable-gradients: true;
$enable-shadows: true;


// Set color options.
// https://getbootstrap.com/docs/5.1/customize/color/
// --------------------------------------------------
//$primary: $red;
//$secondary: $vert-02;
//$warning: $red-01;
//$info: $bc;
//$light: #F6F6F6;

//$theme-colors: (
//  "primary":    $primary,
//  "secondary":  $secondary,
//  "success":    $success,
//  "info":       $info,
//  "warning":    $warning,
//  "danger":     $danger,
//  "light":      $light,
//  "dark":       $dark
//);


// Set variables options.
// https://getbootstrap.com/docs/5.1/layout/grid/#sass
// --------------------------------------------------
//$grid-columns:      12;
$grid-gutter-width: 1rem !default;
//$grid-gutter-width: 4.3rem;
$spacer: 1rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1170px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);


$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 4.5,
  8: $spacer * 5,
  9: $spacer * 5.5,
  10: $spacer * 6,
);

// Responsive font sizes (RFS).
// https://getbootstrap.com/docs/5.1/getting-started/rfs/
// --------------------------------------------------
$rfs-breakpoint: 1740px;


// Customize some defaults.
// --------------------------------------------------
$body-color: $sapphire;


// Override default bootstrap colors for accessibility.
// --------------------------------------------------
//$breadcrumb-divider-color: $gray-700 !default;
//$breadcrumb-active-color: $gray-700 !default;

//$navbar-light-color: rgba($black, .6) !default;
//$navbar-dark-color: rgba($white, .6) !default;

$form-text-margin-top: 0 !default;
$legend-font-size: 1rem !default;
$table-cell-padding-x: .75rem;


// Nav & tabs.
// --------------------------------------------------
// $nav-link-padding-y:                .5rem;
//$nav-link-padding-x:                1rem;
//$nav-link-font-size:                null;
//$nav-link-font-weight:              null;
$nav-link-color:                    $black;
//$nav-link-hover-color:              $link-hover-color;
//$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
//$nav-link-disabled-color:           $gray-600;

//$nav-tabs-border-color: $yellow-green;
//$nav-tabs-border-width:             $border-width;
//$nav-tabs-border-radius:            $border-radius;
//$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
//$nav-tabs-link-active-color:        $gray-700;
//$nav-tabs-link-active-bg:           $body-bg;
//$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;

//$nav-pills-border-radius:           $border-radius;
//$nav-pills-link-active-color:       $component-active-color;
//$nav-pills-link-active-bg:          $component-active-bg;
