.breadcrumb{
  display: block;
  padding: 0;
  margin: 0;
  a, li{
    font-style: normal;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 36px;
    color: $color-white;
  }
  ol{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li{
      display: flex;
      align-items: center;
      + li{
        &:before{
          content: "" !important;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.82617 10.79L8.35784 7.2583C8.77492 6.84121 8.77492 6.15871 8.35784 5.74163L4.82617 2.20996' stroke='%234FDCB9' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          width: 13px;
          height: 13px;
          margin: 0 7px;
        }
      }
    }
  }
}
