//
// Util Function
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
.btn {

  &-podcast,
  &-pdf {
    padding: 3px 3px;
    color: #adadad;
    border-radius: 5px;
    line-height: 1;
    font-size: 17px;
    margin: 0 2px;
    border: 1px solid #adadad;
    width: 27px;
    text-align: center;

    &:hover {
      background: #525252;
      color: $white;
    }
  }

  &-podcast {}
}

.addtoany_list {
  margin: 0 0 0 10px;

  >a {
    padding: 3px 3px;
    color: #adadad;
    border-radius: 100%;
    line-height: 1;
    font-size: 17px;
    margin: 0 2px;
    border: 1px solid #adadad;
    width: 27px;
    text-align: center;

    .fa-brands {
      padding: 2px;
      font-size: 16px !important;
    }

    &:hover {
      border: 1px solid $color-bleu-01;
    }
  }
}