// Ckeditor Special Mixin
// -----------------------------------------------------------------------------

@mixin CKEditor() {

  ul {
    @include list-reset;
    margin: 16px 0;
    padding: 0 0 0 30px;
    li {
      position: relative;
      &:before{
        content: "";
        width: 5px;
        height: 5px;
        background-color: $black;
        border-radius: 100%;
        position: absolute;
        left: -15px;
        top: 6px;
      }
    }
  }


}


// Styles in CKEditor edit forms textarea
// -----------------------------------------------------------------------------
.text-formatted {
  @include CKEditor();

  img {
    height: auto;
    margin-bottom: 12px;
    max-width: 100%;
    &.align-right {
      padding-left: 22px;
    }
    &.align-left {
      padding-right: 22px;
    }
  }
  h2 {
    &.title {
      font-family: 'Arial',sans-serif !important;
      font-size: 20px  !important;
      color:#4339ff  !important;
    }
  }
  p {
    &.styling {
      font-family: 'Arial',sans-serif !important;
      font-size: 12px !important;
      &.subtitle {
        font-style: italic !important;
      }
      &.intro {
        font-style: italic !important;
        font-weight: bold !important;
      }
      &.intertitle {
        font-weight: bold !important;
      }
      &.firstletter {
        &::first-letter {
          font-weight: bold !important;
          font-size: 24px !important;
          text-transform: capitalize !important;
        }
      }
    }
  }
  a {
    text-decoration: underline;
    font-family: 'Arial',sans-serif;
    font-size: 12px;
    color: $dark;
  }
}
