// MIXINS ET FUNCTIONS

// Functions em() / rem()
// Fonctions de conversion pixel vers em / rem

$transition02: all .2s;
$transition04: all .4s ease-out;
$link-transition-on: all 200ms ease-out;
$link-transition-off: all 400ms ease-out;



// Mixin - list-reset
// Styles par defaut pour les listes <ul>
@mixin list-reset {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

// Mixin - button-reset
// Styles par defaut pour les boutons <button>
@mixin button-reset {
  background: none;
  border: 0 none;
  padding: 0;
}

// Mixin - button-reset
// Styles par defaut pour les boutons <button>
@mixin outline-reset {
  outline: 1px dotted currentColor;
}

// Mixin - breakpoint()
// Mixin pour les mediaqueries.
// $target peut prendre les valeurs listées dans _constants.scss
@mixin breakpoint($target) {
  @at-root #{"&"} {
    @media #{$target} {
      @content;
    }
  }
}

// Pour le calcul des media queries
@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }

  @return nth($range, 1);
}

// Pour le calcul des media queries
@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }

  @return nth($range, 2);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


@mixin link-full-item-list {
  text-decoration: none;
  &:before {
    content: "";
    box-sizing: content-box;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

@mixin link-with-hover($color: $white, $background: $yellow-green, $prefix: '+') {
  position: relative;
  text-decoration: none;
  padding: 10px 20px 20px 20px;

  &:before {
    content: "#{$prefix}";
    position: static;
    transform: translateY(-50%);
    margin-right: 10px;
    color: $color;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.15rem;
    transition: $link-transition-off;
    z-index: -1;
    background: $background;
  }

  &:hover {
    text-decoration: none;
    color: $color;

    &:after {
      bottom: -1px;
      height: 100%;
      left: 0;
      transition: $link-transition-on;
    }
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

// Mixin
// --------------------------------------------------
@mixin bi-font-family($font-family, $important: null) {
  @if $important != '!important' {
    font-family: $font-family, $font-family-sans-serif;
  }@else {
    font-family: $font-family, $font-family-sans-serif !important;
  }
}
@mixin h1() {
  @include bi-font-family($CONST-FONT);
  font-weight: 900;
  @include font-size(60px);
  margin-bottom: 10px;
}

@mixin h2() {
  @include bi-font-family($CONST-FONT-Noto_Serif);
  @include font-size(30px);
  font-weight: 900;
  color: $vert-2;
}

@mixin h3() {
  @include bi-font-family($CONST-FONT-Poppins);
  @include font-size(22px);
  font-weight: 700;
  color: $black;
}

@mixin h4() {
  @include bi-font-family($CONST-FONT-Noto_Serif);
  @include font-size(22px);
  font-weight: 500;
  color: $vert-2;
}


@mixin p() {
  @include bi-font-family($CONST-FONT);
  @include font-size(17px);
  font-weight: normal;
}
