/*
  This file provides Custom root variables.
*/
/*
  This file provides Custom root variables.
*/
:root {
  //COLORS
  @each $color, $value in $bl-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $bl-colors {
    --#{$color}-rgb: #{to-rgb($value)};
  }

  @each $color, $value in $theme-colors {
    $color-contrast: color-contrast($value);
    $hover-background: if($color-contrast == $color-contrast-light, shade-color($value, $btn-hover-bg-shade-amount), tint-color($value, $btn-hover-bg-tint-amount));

    --bs-#{$color}-hover: #{$hover-background};
  }

  //HEADING FONT FAMILY
  @each $size, $value in $bl-headings-family {
    --#{$size}-family: #{$value};
  }
}
