//
// Util Typography
// --------------------------------------------------

// Variables
// --------------------------------------------------
$font-base-path: '../../fonts';




// Fonts raleway
// --------------------------------------------------

//@font-face {
//  font-family: 'ralewaymedium';
//  src: url("#{$font-base-path}/raleway/raleway-medium-webfont.woff2") format('woff2'),
//  url("#{$font-base-path}/raleway/raleway-medium-webfont.woff") format('woff'),
//  url("#{$font-base-path}/raleway/raleway-medium-webfont.ttf") format('truetype');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
