//
// Summary
// --------------------------------------------------

//  [1. CONST]
//  [2. Variables]

//
// [1.] CONST
// --------------------------------------------------
$bi-assets-base-path: '../..' !default;
$bi-img-path: '#{$bi-assets-base-path}/images' !default;
$bi-nbsp: '\00a0';
$fa-font-path: "../../../../node_modules/@fortawesome/fontawesome-free/webfonts";
// Const Font

$CONST-FONT: 'Poppins', sans-serif;
$CONST-FONT-OPENSANS: 'Open Sans', sans-serif;
$CONST-FONT-Poppins: 'Poppins', sans-serif;
$CONST-FONT-Awesome: 'Font Awesome 6 Free';
$CONST-FONT-DOUMBAR: 'Doumbar', sans-serif;

// Const Font Weight
// --------------------------------------------------
//$CONST-FONT-WEIGHT-THIN: 100;
//$CONST-FONT-WEIGHT-EXTRA-LIGHT: 200;
//$CONST-FONT-WEIGHT-LIGHT: 300;
//$CONST-FONT-WEIGHT-REGULAR: 400;
//$CONST-FONT-WEIGHT-MEDIUM: 500;
//$CONST-FONT-WEIGHT-SEMI-BOLD: 600;
//$CONST-FONT-WEIGHT-BOLD: 700;
//$CONST-FONT-WEIGHT-EXTRA-BOLD: 800;
//$CONST-FONT-WEIGHT-BLACK: 900;

// Const Base Unit
// --------------------------------------------------
$CONST-BASE-UNIT: 8px !default;

//
// [2.] Variables
// --------------------------------------------------
// Base
// --------------------------------------------------

// Color
// --------------------------------------------------

$blue-lighter: #352BFF;
$blue-light: #F4F7FF;
$blue-medium: #F8FAFC;
$blue-dark: #002492;
$blue-dark-1: #3F3F46;
$gr: #E2E2E2;
$blue: $blue-medium;
$bc: #F6C44E;
$bv: #F2F2F2;
$bt: #979797;
$color-resume: #1E293B;
$color-border: #94A3B8;

$yellow-green: #F0B942;
$black-medium: #514A4B;
$black-light: #1E2044;

$sapphire-light: #809DA3;
$sapphire: #023B4A;
$color-bleu: #2C05F2;
$color-bleu-01: #5D87F4;
$color-bleu-bg: #F4F7FF;
$color-bleu-02: #342AFF;
$color-bleu-03: #170864;

$gray-light: #f5f8fa;
$gray-light-2: #E4F0E9;
$gray-light-3: #E1F0E9;
$gray-medium: #99b1b6;
$gray-dark: #5c7c83;
$gray-dark-1: #1E293B;
$gray-dark-2: #f8f8f8;
$gray-dark-3: #0F172A;
$gray-dark-4: #CBD5E1;
$gray-dark-5: #1F2825;
$gray-dark-6: #E8E8E8;
$gray-dark-7: #D9D9D9;
$gray-dark-8: #555454;
$gray-dark-9: #e5e5e4;
$gray-dark-10: #cdcdcd;
$gray-dark-11: #bfb4a1;
$gray-dark-12: #cbcbcb;
$gray-300: $gray-dark;
$red: #FF3131;
$red-01: #ED707F;


$background-logo: #FCF1D9;
$color-border: #E2E8F0;
$white: #fff;
$color-white: #F2F9F7;
$color-gray: #e4e4e4;
$color-green: #fbf9f4;
$color-gray-1: #394647;
$color-green-3: #3C7D56;
$color-green-2: #595959;
$gray-dark-5: #3A3A3A;
$gray-dark-6: #5c5858;
$color-blue: #005CA9;
$color-blue-1: #003C6F;
$color-blue-2: #285a9a;
$color-blue-3: #324a81;
$color-eee: #eeeeee;
$color-333: #333;
$dark: #000;
$dark-01: #0B122D;
$dark-02: #3B2D4C;
$dark-03: #360D0C;
$dark-04: #212121;
$dark-05: #212529;


$bl-colors: (
  //"vert":   $vert,
  //"vert-100":   $vert-01,
  //"vert-200":   $vert-02,
  //"red": $red,
  //"red-100": $red-01,
  //"black": $dark,
  //"black-100": $dark-01,
  //"black-600": $dark-02,
  //"black-900": $dark-03,
  //"plyr-color-main": $vert-01,
  //"plyr-video-control-background-hover": $red,
  //"bl-gray-3": $bl-gray-3,
  //"bl-gray-tooltip": $bl-gray-tooltip,
  //"bl-grey": $bl-grey,
  //"bl-gray-200": $bl-gray-200,
  //"bl-grey-1": $bl-grey-1,
  //"bl-grey-2": $bl-grey-2,
  //"bl-gray-100": $bl-gray-100,
  //"bl-violet": $bl-violet,
  //"bl-blue-ocean": $bl-blue-ocean,
  //"bl-blue-light": $bl-blue-light,
  //"bl-green": $bl-green,
  ) !default;

$bl-headings-family: (
  "h1": null,
  "h2": null,
  "h3": null,
  "h4": null,
  "h5": null,
  "h6": null,
  ) !default;

// Rem
// --------------------------------------------------
$var-rem-baseline: 16px !default;
$var-rem-fallback: false !default;
$var-rem-px-only: false !default;


$main-color: #1E2044;
$second-color: #334982;
$third-color: #bfb4a2;
$marker-color: #fe5068;

$burger-color: #f8f8f8;
$background-gray: #e4e4e4;
$grey-color: #a8a7a7;

//status calendar & onglet
$shooting-planifier: #cdcdcd;
$shooting-archives: #b9b8b8;
$shooting-confirmer: #ff5062;
$status-confirmer: #ffc8ce;
$calendar-color: #d3e0ff;
$beige-color: #f1e8d8;
$gray-calendar: #e1e1e1;
$gray-search-form: #f3f3f3;


$text-color: #394647;
$text-light: #fff;
$other-white: #fafafa;

$verygood: #2ecc71;
$good: #16a085;
$warn: #e67e22;
$bad: #e74c3c;
$fond: #bfb3a1;
$fond-copie: #314981;
$footer-color: #394647;
$fond-onglet: #bfb3a1;
$principal-fond: $dark;



// Theme Drupal Bootstrap 5 variables.
// --------------------------------------------------
$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;