{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}


{% if row.content['#row']._entity.type[0].value.target_id != 'article' %}
      {%
    set row_classes = [
      default_row_class ? 'views-row corporateSearchrow',
    ]
  %}
{% else %}
      {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
{% endif %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}